@reference "../../app.css";

.root {
    @apply w-fit flex gap-2.5 items-center rounded-lg justify-center;
}

.chip {
    @apply flex
        h-full
        sm:w-full
        justify-center
        items-center
        bg-brand-blue
        rounded-lg
        py-1
        col-span-4
        sm:col-span-1;
}

.wrapper {
    @apply flex gap-1 py-1 px-3 items-baseline whitespace-nowrap;
}

.witkKpi {
    @apply bg-carrot-orange;
}

.text {
    @apply !text-white dark:!text-slate-200;
}
