@reference "../../../app.css";

.root {
    @apply flex p-4 gap-4 rounded-lg;
}

.header {
    @apply grid grid-cols-[0.2fr_0.2fr_1fr_0.6fr];
}

.tokenColumn {
    @apply w-full min-w-full flex flex-col gap-4;
}

.title {
    @apply flex items-center p-2 gap-2 rounded-md surface-secondary;
}

.title.active {
    @apply theme-surface-2-active;
}

.title.loading {
    @apply p-0 bg-transparent;
}

.accounts {
    @apply flex flex-col gap-2;
}

.accountRow {
    @apply w-full grid grid-cols-[0.2fr_0.2fr_1fr_0.6fr];
}

.rank {
    @apply w-full flex items-center;
}

.account {
    @apply w-full flex items-center gap-2;
}

.connected {
    @apply text-primary font-bold;
}

.amount {
    @apply flex items-baseline gap-1;
}

.amount.loading {
    @apply w-32;
}

.change {
    @apply text-primary rounded-md font-bold;
}

.change.negative {
    @apply text-red-600;
}

.change.positive {
    @apply text-green-600;
}

.legend {
    @apply w-4 h-4 rounded-sm;
}

.header > :last-child,
.accountRow > :last-child {
    @apply justify-self-end;
}
