@reference "../../../app.css";

.root {
    @apply flex py-3 px-4 gap-4 border-t stroke-divider;
}

.title {
    @apply flex items-center p-2 gap-2 rounded-md surface-secondary;
}

.title.active {
    @apply theme-surface-2-active;
}

.title.loading {
    @apply p-0 bg-transparent;
}

.accountRow {
    @apply w-full grid items-center grid-cols-[0.15fr_0.2fr_1.2fr_0.7fr_0.3fr];
}

.rank {
    @apply w-full flex items-center;
}

.account {
    @apply w-full flex items-center gap-2;
}

.connected {
    @apply text-primary font-bold;
}

.amount {
    @apply flex flex-col items-end gap-1 cursor-pointer;
}

.amount.loading {
    @apply w-32;
}

.change {
    @apply text-primary rounded-md font-bold;
}

.change.negative {
    @apply text-red-600;
}

.change.positive {
    @apply text-green-600;
}

.legend {
    @apply w-4 h-4 rounded-sm;
}

.accountRow > :nth-child(4) {
    @apply justify-self-end;
}

.accountRow > :last-child {
    @apply justify-self-end;
}

.distroPopover {
    @apply flex flex-col gap-1;
}

.popoverHeader {
    @apply flex justify-between gap-7 items-center px-2;
}

.popoverTokenRows {
    @apply flex flex-col gap-1;
}

.tokenRow {
    @apply w-full flex items-center justify-between gap-10 bg-gray-150 dark:bg-neutral-900 rounded-sm px-2 py-1;
}

.totalEearnedTokenRow {
    @apply w-full grid items-center grid-cols-2 bg-gray-150 dark:bg-neutral-900 rounded-sm px-2 py-1;
}

.tokenRow > :last-child,
.totalEearnedTokenRow > :last-child {
    @apply justify-self-end;
}

.tokenRow > div,
.totalEearnedTokenRow > div {
    @apply flex items-center gap-2;
}

.amountChangeBox {
    @apply flex items-center gap-1 rounded-sm py-0.5 px-1;
}

.amountChangeBox.negative {
    @apply bg-error/[12%];
}

.amountChangeBox.positive {
    @apply bg-brand-green-dark/[12%] dark:bg-brand-green/[12%];
}

.trendIcon {
    @apply size-5;
}
