.root {
    @apply relative
        w-fit
        font-sans
        font-medium
        text-base
        leading-4
        flex
        items-center
        justify-center
        cursor-pointer
        transition-colors
        duration-200;
}

.primary {
    @apply rounded-xl
        text-white
        bg-black
        hover:bg-gray-900;
}

.primary.disabled {
    @apply bg-gray-700
        text-gray-400
        hover:bg-gray-700
        cursor-not-allowed;
}

.secondary {
    @apply rounded-xl
        bg-gray-100
        hover:bg-gray-200
        border;
}

.secondary.disabled {
    @apply border-gray-500
        bg-gray-50
        text-gray-400
        hover:bg-gray-50
        cursor-not-allowed;
}

.primary.noBorder, .secondary.noBorder {
    @apply border-transparent;
}

.primary.big {
    @apply px-6 py-5;
}

.primary.small {
    @apply px-5 py-4;
}

.primary.xsmall {
    @apply px-4 py-3;
}

.secondary.big {
    @apply px-4 py-4;
}

.secondary.small {
    @apply px-4 py-2.5;
}

.secondary.xsmall {
    @apply px-2 py-1;
}

.icon {
    @apply w-6 h-6;
}

.spinner {
    @apply text-black origin-center animate-spin;
}

.wrapper {
    @apply min-h-6
        flex
        items-center
        first:mr-2
        last:ml-2
        only:m-0;
}

.wrapperLoadingNoIcon {
    @apply hidden;
}
