@reference "../../app.css";

.layout {
    @apply min-h-screen flex justify-between theme-bg;
}

.content {
    @apply w-full flex flex-1 flex-col gap-10;
}

.top {
    @apply w-full flex justify-center sm:pr-4 sm:pl-[5.813rem] xl:px-[5.813rem];
}

.main {
    @apply h-full w-full flex justify-center sm:pr-4 sm:pl-[5.813rem] xl:px-[5.813rem];
}

.footer {
    @apply w-full flex justify-center sm:pr-4 pb-4 sm:pl-[5.813rem] xl:px-[5.813rem];
}
