@reference "../../app.css";

.layout {
    @apply min-h-screen flex justify-between theme-bg;
}

.content {
    @apply w-full flex flex-1 flex-col gap-10;
}

.top {
    @apply w-full flex justify-center pt-8 pr-4 2xl:pr-8;
}

.main {
    @apply h-full w-full flex justify-center sm:pr-4 sm:pl-[7.813rem] 2xl:px-[7.813rem];
}

.footer {
    @apply w-full flex justify-center px-4 pb-6 sm:pr-4 sm:pl-[7.813rem] 2xl:px-[7.813rem];
}
