@reference "../../app.css";

.layout {
    @apply min-h-screen flex flex-col items-center gap-10 background-main;
}

.main {
    @apply w-full flex justify-center flex-1;
}

.footer {
    @apply w-full flex justify-center px-4 pb-4;
}
