@reference "../../app.css";

.layout {
    @apply flex flex-col items-center gap-10 background-main;
}

.content {
    @apply flex flex-col w-full items-center gap-10 min-h-screen;
}

.main {
    @apply w-full flex justify-center flex-1;
}

.footer {
    @apply w-full flex justify-center px-4 sm:px-0 pb-4 sm:mt-20;
}
