@reference "../../../app.css";

.root {
    @apply flex items-center flex-col gap-6 px-4 w-full;
}

.header {
    @apply flex items-center justify-between gap-6;
}

.description {
    @apply text-center max-w-2xl;
}

.actions {
    @apply flex flex-wrap gap-2 max-w-4xl;
}

.action {
    @apply h-full
        max-w-[27rem]
        hover:bg-gray-150
        dark:hover:bg-neutral-800
        transition-colors
        duration-200
        ease-in-out;
}

.actionBody {
    @apply h-full flex flex-col sm:flex-row gap-4 items-center;
}

.actionIcon {
    @apply h-10 w-10;
}

.actionWrapper {
    @apply flex
        items-center
        justify-center
        min-w-[5.75rem]
        min-h-[5.75rem]
        p-3
        rounded-2xl
        bg-gray-200
        dark:bg-neutral-950;
}

.rightContent {
    @apply flex flex-col gap-2 items-center sm:items-start;
}

.back {
    @apply p-1.5
        mr-auto
        rounded-lg
        hover:cursor-pointer
        surface-primary
        surface-primary-hover
        transition-colors
        duration-200
        ease-in-out;
}
