@reference "../../../../app.css";

.stepContent {
    @apply flex flex-col gap-3 p-4;
}

.previewLabelWrapper {
    @apply w-full flex justify-between items-center;
}

.previewTextWrapper {
    @apply flex items-center gap-2;
}

.previewLabel {
    font-size: inherit;
    color: inherit;
}

.step {
    @apply hover:border-transparent;
}

.typeWrapper {
    @apply flex gap-1;
}

.error {
    @apply transition-opacity duration-200 ease-in-out opacity-0;
}

.inputsWrapper {
    @apply flex flex-col gap-3;
}

.dotWrapper {
    @apply flex items-center justify-center bg-gray-100 dark:bg-neutral-900 h-5 w-5 rounded-full;
}

.chips {
    @apply w-full flex items-center gap-1;
}

.chip {
    @apply w-full flex items-center gap-2;
}

.dot {
    @apply h-3 w-3 rounded-full;
}

.dot.green {
    @apply bg-brand-green-dark dark:bg-brand-green;
}

.dot.red {
    @apply bg-error;
}

.textInput :global(.inputWrapper),
.textInput :global(.inputWrapper) :global(.input) {
    @apply w-full;
}

.importCsvInput {
    @apply justify-self-end;
}

.divider {
    @apply h-[1px] border stroke-divider;
}

.listWrapper {
    @apply flex flex-col gap-1.5;
}

.list {
    @apply max-h-64 overflow-y-auto snap-y flex flex-col gap-2;
}

.row {
    @apply flex items-center justify-between snap-start px-4 py-5 surface-secondary rounded-lg;
}

.accountWrapper {
    @apply flex items-center gap-2;
}

.removeIcon {
    @apply cursor-pointer;
}

.applyButton {
    @apply w-full;
}
