@reference "../../app.css";

.text {
    @apply leading-5;
}

.loadingWrapper {
    @apply min-h-[60px] w-56 sm:w-96 flex flex-col gap-1;
}

.loading {
    @apply w-full h-4 bg-gray-200 dark:bg-neutral-800 animate-pulse rounded-md;
}

.loading:last-child {
    @apply w-2/3;
}

.boldText {
    @apply text-black dark:text-white font-bold;
}

.aprText {
    @apply bg-carrot-orange text-white rounded-md px-1 font-bold;
}
