@reference "../../../app.css";

.root {
    @apply h-full w-[6.813rem] z-20 hidden fixed sm:flex flex-col items-center self-start border-r border-zinc-300 dark:border-zinc-800;
}

.logoWrapper {
    @apply w-fit p-4 mt-4;
}

.logo {
    @apply w-11 h-11;
}

.items {
    @apply flex flex-col gap-4 p-4;
}

.icon {
    @apply w-5 h-5 text-black dark:text-zinc-200;
}
