@reference "../../../../app.css";

.root {
    @apply flex flex-col gap-2 sm:gap-0 bg-white dark:bg-zinc-800 p-4 rounded-t-3xl;
}

.backButton {
    @apply self-end;
}

.titleContainer {
    @apply flex flex-wrap items-center gap-4 sm:mb-4;
}

.chainIcon {
    @apply h-7 w-7;
}

.durationContainer {
    @apply flex flex-col sm:flex-row gap-4 sm:gap-0 items-start justify-between;
}

.textField {
    @apply items-center sm:items-start;
}

.textField:nth-child(2) {
    @apply sm:items-center;
}

.textField:last-child {
    @apply sm:items-end;
}

.fungibleAssetWrapper {
    @apply flex items-end;
}

.fungibleStakingAssets {
    @apply flex -ml-3.5;
}

.boldText {
    @apply text-black dark:text-white font-bold;
}
