@reference "../../../../app.css";

.previewLabelWrapper {
    @apply flex items-center gap-1;
}

.previewLabel {
    font-size: inherit;
    color: inherit;
}

.dateText {
    @apply select-none;
}

.stepContent {
    @apply flex flex-col gap-3 p-4;
}

.durationPresetsWrapper {
    @apply flex gap-2;
}

.campaignDuration {
    @apply flex items-center gap-1 justify-center;
}

.applyButton {
    @apply w-full;
}
