@reference "../../../../../app.css";

.root {
    @apply h-[54px]
        border
        border-transparent
        theme-surface-2
        rounded-lg
        py-3
        px-2
        transition-colors
        duration-200
        ease-in-out;
}

.root.error {
    @apply border-red-600;
}

.loading {
    @apply animate-pulse;
}

.content {
    @apply w-full flex items-center justify-between gap-3;
}

.asset {
    @apply flex items-center gap-2;
}

.assetName {
    @apply max-w-44;
}

.icon {
    @apply cursor-pointer;
}
