@reference "../../../app.css";

.root {
    @apply grid col-span-full grid-cols-subgrid;
}

.card {
    @apply col-span-full
        grid
        grid-cols-subgrid
        items-center
        surface-primary-hover
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out
        rounded-none
        bg-none
        min-h-[72px]
        max-h-[72px]
        px-7
        py-4;
}

.card > :nth-child(1),
.card > :nth-child(2) {
    @apply justify-self-center;
}

.card.loading {
    @apply w-full pointer-events-none;
}

.poolContainer {
    @apply flex justify-start items-center gap-2 col-span-1;
}

.card:hover .externalLink {
    @apply opacity-100 scale-100;
}
