.root {
    composes: row from "../styles.module.css";
    @apply bg-white
        hover:bg-gray-200
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out
        rounded-xl 
        px-3
        py-4
}

.poolContainer {
    @apply flex md:justify-start items-center gap-2 col-span-11 md:col-span-1;
}

.externalLink {
    @apply hidden
        md:flex
      bg-white
        h-7
        w-7
        items-center
        justify-center
        rounded-md
        opacity-0
        transform
        scale-75
        cursor-pointer
        transition
        duration-200
        ease-in-out
        pointer-events-none;
}

.externalLinkIcon {
    @apply h-4 w-4 transform -rotate-45;
}

.root:hover .externalLink {
    @apply opacity-100 scale-100;
}
