@reference "../../../app.css";

.root {
    composes: row from "../styles.module.css";
    @apply hover:bg-gray-200
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out
        rounded-none
        bg-none
        min-h-[111px]
        sm:min-h-[72px]
        px-3
        py-4;
}

.root.loading {
    @apply pointer-events-none;
}

.noMobile {
    @apply hidden sm:grid;
}

.mobileCard {
    @apply flex sm:hidden flex-col justify-between min-h-[111px] gap-3;
}

.mobileCard .topRow {
    @apply w-full flex items-center gap-2;
}

.mobileCard .bottomRow {
    @apply flex justify-between items-center gap-2;
}

.poolContainer {
    @apply flex sm:justify-start items-center gap-2 col-span-11 sm:col-span-1;
}

.root:hover .externalLink {
    @apply opacity-100 scale-100;
}
