.root {
    @apply text-black font-normal font-sans;
}

.noWrap {
    @apply whitespace-nowrap;
}

.truncate {
    @apply overflow-hidden whitespace-nowrap text-ellipsis;
}

.rootUppercase {
    @apply uppercase;
}

.xs {
    @apply text-xs leading-4;
}

.sm {
    @apply text-xs leading-4 sm:text-sm;
}

.base {
    @apply text-sm leading-5 sm:text-base;
}

.lg {
    @apply text-base leading-6 sm:text-lg;
}

.xl {
    @apply text-lg leading-6 sm:text-xl sm:leading-7;
}

.xl2 {
    @apply text-xl leading-7 sm:text-xl2 sm:leading-8;
}

.xl4 {
    @apply text-xl2 leading-8 sm:text-xl4 sm:leading-10;
}

.xl5 {
    @apply text-xl4 leading-10 sm:text-xl5 sm:leading-[3rem];
}

.light {
    @apply text-gray-400;
}

.normal {
    @apply font-normal;
}

.medium {
    @apply font-medium;
}

.bold {
    @apply font-bold;
}

.mono {
    @apply font-mono;
}
