@reference "../../theme.css";

.root {
    @apply w-fit
        rounded-lg
        border-1
        border-gray-300
        dark:border-neutral-600
        p-3
        z-50;
}

.root.primary {
    @apply bg-gray-100 dark:bg-neutral-950;
}

.root.secondary {
    @apply surface-secondary;
}

.open {
    @apply pointer-events-auto;
}
