@reference "../../theme.css";

.root {
    @apply w-fit
        rounded-md
        border-2
        surface-secondary
        border-gray-300
        dark:border-neutral-600
        z-50;
}

.open {
    @apply pointer-events-auto;
}
