@reference "../../theme.css";

.root {
    @apply w-fit
        rounded-lg
        border-1
        border-gray-500
        dark:border-neutral-400
        p-3
        z-50;
}

.root.primary {
    @apply bg-gray-150 dark:bg-neutral-900;
}

.root.secondary {
    @apply surface-secondary;
}

.open {
    @apply pointer-events-auto;
}
