specVersion: 1.0.0
indexerHints:
  prune: never
schema:
  file: ./schema.graphql
{{#grafting}}
features:
  - grafting
graft:
  base: {{base}}
  block: {{block}} 
{{/grafting}}
dataSources:
  - kind: ethereum
    name: CurveRouter
    network: {{network}}
    source:
      address: "{{curveRouterAddress}}"
      startBlock: {{curveRouterStartBlock}}
      abi: CurveRouter
    context:
      targetToken:
        type: Bytes
        data: "{{targetToken}}"
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities: []
      abis:
        - name: CurveRouter
          file: ./abis/CurveRouter.json
        - name: Erc20
          file: ./abis/Erc20.json
        - name: Erc20BytesName
          file: ./abis/Erc20BytesName.json
        - name: Erc20BytesSymbol
          file: ./abis/Erc20BytesSymbol.json
      file: ./src/mappings/curve-router.ts
      eventHandlers:
        - event: Exchange(indexed address,indexed address,address[11],uint256[5][5],address[5],uint256,uint256)
          handler: handleExchange
  - kind: ethereum
    name: GPv2Settlement
    network: {{network}}
    source:
      address: "{{gpv2SettlementAddress}}"
      startBlock: {{gpv2SettlementStartBlock}}
      abi: GPv2Settlement
    context:
      {{#tokens}}
      {{key}}:
        type: Bytes
        data: "{{value}}"
      {{/tokens}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities: []
      abis:
        - name: GPv2Settlement
          file: ./abis/GPv2Settlement.json
        - name: Erc20
          file: ./abis/Erc20.json
        - name: Erc20BytesName
          file: ./abis/Erc20BytesName.json
        - name: Erc20BytesSymbol
          file: ./abis/Erc20BytesSymbol.json
      file: ./src/mappings/gpv2-settlement.ts
      eventHandlers:
        - event: Trade(indexed address,address,address,uint256,uint256,uint256,bytes)
          handler: handleTrade
