specVersion: 1.0.0
indexerHints:
  prune: never
schema:
  file: ./schema.graphql
{{#grafting}}
features:
  - grafting
graft:
  base: {{base}}
  block: {{block}} 
{{/grafting}}
dataSources:
  - kind: ethereum
    name: UnifiedPool
    network: {{network}}
    source:
      address: "{{address}}"
      startBlock: {{startBlock}}
      abi: UnifiedPool
    context:
      {{#tokens}}
      {{key}}:
        type: Bytes
        data: "{{value}}"
      {{/tokens}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities: []
      abis:
        - name: UnifiedPool
          file: ./abis/UnifiedPool.json
        - name: Erc20
          file: ./abis/Erc20.json
        - name: Erc20BytesName
          file: ./abis/Erc20BytesName.json
        - name: Erc20BytesSymbol
          file: ./abis/Erc20BytesSymbol.json
      file: ./src/mappings/pool.ts
      eventHandlers:
        - event: TokenExchange(indexed address,int128,uint256,int128,uint256)
          handler: handleStableSwapTokenExchange
        - event: TokenExchangeUnderlying(indexed address,int128,uint256,int128,uint256)
          handler: handleStableSwapTokenExchangeUnderlying
        - event: TokenExchange(indexed address,uint256,uint256,uint256,uint256)
          handler: handleCryptoSwapTokenExchange
        - event: TokenExchange(indexed address,uint256,uint256,uint256,uint256,uint256,uint256)
          handler: handleCryptoSwapNgTokenExchange
