.root {
    @apply w-full flex items-center gap-3;
}

.poolContainer {
    @apply w-full flex items-center gap-2;
}

.titleContainer {
    @apply w-full max-w-[180px] sm:max-w-full flex items-center gap-1.5;
}

.campaignFee {
    @apply hidden sm:flex;
}

.kpi {
    @apply bg-gray-100 rounded-lg ml-2 py-1 px-1.5 w-fit;
}
