.root {
    @apply w-full flex items-center gap-3;
}

.poolContainer {
    @apply w-full flex items-center gap-2;
}

.titleContainer {
    @apply w-full max-w-[180px] sm:max-w-full flex items-end gap-1.5;
}

.campaignFee {
    @apply hidden sm:flex;
}
