@reference "../../app.css";

.root {
    @apply flex
        items-center
        justify-center
        p-1
        size-7
        rounded-full
        border
        border-gray-300
        dark:border-neutral-700
        hover:border-gray-400
        dark:hover:border-neutral-500
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.icon {
    @apply size-3.5 text-gray-900 dark:text-neutral-100;
}
