@reference "../../app.css";

.root {
    @apply flex gap-3 items-center;
}

.bar {
    @apply h-16 w-4 flex flex-col overflow-hidden rounded-full;
}

.section:first-child {
    @apply bg-[#4E80EE];
}

.section:nth-child(2) {
    @apply bg-[#3563CB];
}

.section:last-child {
    @apply bg-[#90B2FF];
}

.labelsWrapper {
    @apply flex gap-3;
}

.labels {
    @apply flex flex-col gap-1;
}

.fees {
    @apply flex gap-1;
}
