.root {
    @apply flex items-center justify-between col-span-4 sm:col-span-1;
}

.loading {
    @apply w-full;
}

.rewardsWrapper {
    @apply w-full flex items-center gap-1;
}

.tokenIcons {
    @apply min-h-full flex flex-1 items-center justify-end gap-[1px];
}

.tokenIcon {
    @apply cursor-pointer;
}

.tokenIcon:not(:first-child) {
    @apply -ml-4;
}

.breakdownContainer {
    @apply flex flex-col gap-3 p-3;
}

.breakdownRow {
    @apply flex items-center gap-6 justify-between;
}

.breakdownRow > div {
    @apply flex items-center gap-2;
}

.textRewards {
    @apply !text-sm sm:!text-base sm:min-w-[72px] sm:text-right;
}
