@reference "../../theme.css";

.root {
    @apply relative w-auto flex gap-px;
}

.root > * {
    @apply absolute;
}

.root.xxs > :not(:first-child),
.root.xs > :not(:first-child) {
    @apply -ml-2;
}

.root.sm > :not(:first-child) {
    @apply -ml-2 sm:-ml-2.5;
}

.root.base > :not(:first-child) {
    @apply -ml-2.5 sm:-ml-3;
}

.root.lg > :not(:first-child) {
    @apply -ml-3 sm:-ml-4;
}

.root.xl > :not(:first-child) {
    @apply -ml-3.5 sm:-ml-4;
}
