@reference "../../../../app.css";

.root {
    @apply flex items-center col-span-1 gap-2;
}

.breakdownContainer {
    @apply flex flex-col gap-3;
}

.iconWrapper {
    @apply flex items-center;
}

.icon {
    @apply size-6;
}

.textPoints {
    @apply text-base min-w-[50px];
}
