@reference "../../../../app.css";

.root {
    @apply flex items-center col-span-1 gap-2;
}

.breakdownContainer {
    @apply flex flex-col gap-3;
}

.textPoints {
    @apply text-base min-w-[50px];
}
