.root {
    @apply w-full flex flex-col items-center mb-5;
}

.headerWrapper {
    @apply flex flex-col items-center w-full bg-white gap-10 pt-12;
}

.header {
    @apply bg-white w-full;
}

.contentWrapper {
    @apply w-full max-w-screen-lg flex flex-col gap-16 mb-12;
}
