@reference "../../../app.css";

.root {
    @apply w-full flex flex-col sm:flex-row gap-3 justify-between items-start;
}

.titleContainer {
    @apply w-full flex flex-col gap-3 flex-1;
}

.title {
    @apply w-full min-h-10 flex flex-wrap items-center gap-3;
}

.chainLogo {
    @apply size-6 sm:size-9;
}

.actions {
    @apply flex flex-wrap gap-3 justify-between;
}

.externalLinkIcon {
    @apply size-4 transform -rotate-45;
}

.externalLinkIcon.explore {
    @apply size-4 sm:size-6;
}

.loadingAction {
    @apply h-[2.875rem] w-52 rounded-lg bg-gray-200 dark:bg-neutral-800 animate-pulse;
}
