.root {
    @apply flex flex-col gap-3 sm:gap-8 w-full max-w-screen-lg;
}

.titleContainer {
    @apply w-full flex flex-col gap-4;
}

.title {
    @apply flex flex-wrap items-center gap-5;
}

.actionsContainer {
    @apply flex flex-col-reverse sm:flex-row gap-3 flex-wrap justify-between sm:mb-2;
}

.actionsContainer button,
.actionsContainer a {
    @apply min-w-28;
}

.leftActions {
    @apply flex flex-wrap gap-3;
}

.exploreButton {
    @apply h-12;
}

.claimButton {
    @apply self-end;
}

.externalLinkIcon {
    @apply h-4 w-4 transform -rotate-45;
}

.aprContainer {
    @apply px-4 py-3 h-12 w-fit;
}
