.root {
    @apply w-full
        flex
        flex-col
        sm:flex-row
        justify-between
        items-center
        gap-5
        p-10
        my-10
        sm:my-0
        sm:mt-10
        max-w-screen-xl;
}

.leftContent {
    @apply flex flex-col gap-11;
}

.logo {
    @apply max-w-36;
}

.socials {
    @apply flex gap-5;
}

.socialIcon {
    @apply w-5 h-5 text-gray-900;
}

.support {
    @apply flex flex-col items-center sm:items-start gap-3;
}
