@reference "../../../app.css";

.root {
    @apply w-full
        flex
        flex-col
        relative
        sm:flex-row
        justify-between
        items-center
        border-t
        border-gray-300
        dark:border-neutral-700
        gap-3
        p-5
        sm:px-4
        sm:mb-0
        mb-[63px]
        sm:mt-10
        max-w-screen-xl;
}

.logo {
    @apply max-h-3
        max-w-20
        sm:max-w-40
        text-primary
        self-start
        sm:absolute
        sm:top-1/2
        sm:left-1/2
        sm:-translate-x-1/2
        sm:-translate-y-1/2;
}

.wrapper {
    @apply w-full flex items-center flex-row-reverse justify-between sm:flex-row;
}

.socials {
    @apply flex flex-row justify-between -mx-2.5;
}

.socialIcon {
    @apply size-3.5 sm:size-5 text-primary transition-colors duration-200 ease-in-out;
}

.support {
    @apply min-w-fit h-full flex items-center gap-4;
}

.socialLink {
    @apply p-2.5 rounded-full hover:[&>p,&>svg]:text-brand-green-dark hover:[&>p,&>svg]:dark:text-brand-green;
}

.supportLink {
    @apply flex items-center gap-1 hover:[&>p,&>svg]:text-brand-green-dark hover:[&>p,&>svg]:dark:text-brand-green;
}

.supportLink > p,
.supportLink > svg {
    @apply transition-colors duration-200 ease-in-out;
}

.linkIcon {
    @apply size-3.5 transform -rotate-45;
}
