@reference "../../../app.css";

.root {
    @apply w-full
        flex
        flex-row
        justify-center
        sm:justify-between
        items-center
        gap-10
        py-10
        px-4
        sm:px-0
        mt-10
        mb-[63px]
        sm:my-0
        sm:mt-10
        max-w-screen-xl;
}

.leftContent {
    @apply flex flex-col-reverse sm:flex-col gap-6 sm:gap-11;
}

.logo {
    @apply max-w-36 dark:text-zinc-200;
}

.socials {
    @apply flex gap-5;
}

.socialIcon {
    @apply w-5
        h-5
        text-zinc-900
        dark:text-zinc-200
        hover:text-brand-green
        transition-colors
        duration-200
        ease-in-out;
}

.support {
    @apply flex flex-col items-start gap-3;
}