@reference "../../../app.css";

.root {
    @apply w-full
        flex
        flex-row
        justify-between
        items-center
        rounded-xl
        theme-surface
        gap-10
        p-4
        sm:p-8
        sm:mb-6
        mb-[63px]
        sm:mt-10
        max-w-screen-xl;
}

.leftContent {
    @apply flex flex-col-reverse sm:flex-col gap-6 sm:gap-11;
}

.logo {
    @apply max-w-40 dark:text-zinc-200;
}

.socials {
    @apply flex justify-between -mx-2.5;
}

.socialLink {
    @apply p-2.5 rounded-full theme-surface-hover transition-colors duration-200 ease-in-out;
}

.supportLink {
    @apply p-1.5 rounded-md theme-surface-hover transition-colors duration-200 ease-in-out;
}

.socialIcon {
    @apply w-5 h-5 text-zinc-900 dark:text-zinc-200;
}

.support {
    @apply h-full flex flex-col items-end gap-1;
}
