@reference "../../../app.css";

.root {
    @apply w-full relative overflow-hidden flex gap-4 p-5 rounded-xl;
}

.illustration {
    @apply absolute -top-5 right-0;
}

.projectIconWrapper {
    @apply flex items-center justify-center rounded-full w-20 h-20;
}

.projectIcon {
    @apply w-14 h-14 rounded-full;
}

.rightContent {
    @apply flex flex-col gap-2 flex-1;
}

.title {
    @apply flex flex-wrap items-center gap-2 sm:gap-4;
}

.types {
    @apply w-fit flex;
}

.type {
    @apply py-1 px-3 backdrop-blur-sm bg-[#04040433];
}

.type.loading {
    @apply w-16 h-6 bg-gray-200 dark:bg-neutral-800 animate-pulse rounded-md;
}

.type:first-child {
    @apply rounded-l;
}

.type:last-child {
    @apply rounded-r;
}

.mainText {
    @apply text-gray-900 dark:text-neutral-950;
}

.activeText {
    @apply text-gray-50 dark:text-neutral-100;
}

.externalLink {
    @apply h-6 w-fit flex items-center pb-1 pt-1.5 px-3 rounded-sm bg-neutral-100;
}

.externalLinkIcon {
    @apply size-3 transform -rotate-45 text-gray-900 dark:text-neutral-950;
}

.externalLinkIcon > path {
    @apply stroke-2;
}
