@reference "../../../app.css";

.root {
    @apply flex
        flex-col
        gap-2
        p-2
        rounded-md
        min-w-56
        border
        bg-gray-100
        dark:bg-neutral-950
        border-gray-300
        dark:border-neutral-600;
}

.referenceLine line {
    @apply stroke-gray-900 dark:stroke-neutral-400;
}

.referenceCircle {
    @apply fill-gray-900 stroke-white dark:stroke-neutral-400;
}

.row {
    @apply flex justify-between gap-4 items-center;
}
