@reference "../../theme.css";

.input :global(.input:not(:disabled)) {
    @apply cursor-pointer;
}

.input :global(.inputIcon) {
    @apply w-4;
}

.dropdownRoot {
    @apply p-0 overflow-hidden h-fit;
}

.emptyOptionList {
    @apply flex
        surface-secondary
        justify-center
        items-center
        p-3
        h-12;
}

.option {
    @apply cursor-pointer
        flex
        items-center
        outline-none
        box-border
        text-primary
        bg-gray-150
        dark:bg-neutral-900
        hover:bg-gray-100
        dark:hover:bg-neutral-700
        not-last:border-b
        not-last:border-b-gray-300
        not-last:dark:border-b-neutral-700
        transition-colors
        ease-in-out
        duration-200;
}

.option.xs {
    @apply p-2;
}

.option.sm,
.option.base,
.option.lg {
    @apply px-3 py-2;
}

.pickedOption {
    @apply bg-gray-100 dark:bg-neutral-700;
}
