@reference "../../theme.css";

.input :global(.input) {
    @apply cursor-pointer;
}

.input :global(.inputIcon) {
    @apply w-4;
}

.dropdownRoot {
    @apply z-30
        p-0
        border-2
        overflow-hidden
        h-fit;
}

.list {
    @apply h-full max-h-[288px];
}

.emptyOptionList {
    @apply flex
        justify-center
        items-center
        p-3
        h-12;
}

.option {
    @apply cursor-pointer
        flex
        items-center
        outline-none
        box-border
        text-primary
        surface-secondary
        surface-secondary-hover
        not-last:border-b
        not-last:border-b-gray-300
        not-last:dark:border-b-neutral-700
        transition-colors
        ease-in-out
        duration-200;
}

.option.xs {
    @apply p-2;
}

.option.sm,
.option.base,
.option.lg {
    @apply px-3 py-2;
}

.pickedOption {
    @apply bg-gray-50 dark:bg-neutral-700 surface-secondary-hover;
}
