.root {
    @apply flex
        items-center
        justify-between
        px-4
        py-7
        rounded-2xl
        h-[5.25rem]
        hover:bg-gray-200
        hover:cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.rootCompleted {
    @apply py-4;
}

.rootOpen {
    @apply rounded-b-none;
}

.wrapper {
    @apply w-full select-none;
}

.label {
    @apply flex items-center w-full min-h-6;
}

.children {
    @apply w-full flex invisible;
}

.childrenShow {
    @apply visible;
}

.iconWrapper {
    @apply px-2 py-2.5 rounded-md;
}

.icon {
    @apply transition-transform;
}

.iconOpen {
    @apply rotate-180;
}
