@reference "../../../app.css";

.root {
    @apply flex
        items-center
        justify-between
        px-4
        py-7
        h-[5.25rem]
        rounded-2xl
        surface-primary-hover
        hover:cursor-pointer
        transition-all
        duration-200
        ease-in-out;
}

.root.open {
    @apply rounded-b-none;
}

.root.completed {
    @apply py-4;
}

.root.disabled {
    @apply hover:cursor-default hover:bg-light-surface-primary hover:dark:bg-dark-surface-primary;
}

.wrapper {
    @apply w-full select-none;
}

.label {
    @apply flex
        items-center
        w-full
        min-h-6
        text-base
        text-primary
        transition
        duration-200
        ease-in-out;
}

.label.completed {
    @apply -translate-y-2 text-neutral-gray dark:text-zinc-400 text-xs;
}

.children {
    @apply w-full flex invisible;
}

.childrenShow {
    @apply visible;
}

.iconWrapper {
    @apply px-2 py-2.5 rounded-md;
}

.icon {
    @apply transition-transform;
}

.iconOpen {
    @apply rotate-180;
}
