@reference "../../../theme.css";

.root {
    @apply w-fit
        flex
        items-center
        gap-2
        select-none
        rounded-t-xl
        cursor-pointer;
}

.root,
.root > p {
    @apply uppercase
        font-medium
        text-gray-500
        dark:text-neutral-400
        transition-colors
        duration-200
        ease-in-out;
}

.root.active {
    @apply bg-gray-100 dark:bg-neutral-900;
}

.root.active,
.root.active > p {
    @apply text-brand-green-dark dark:text-brand-green;
}

.active {
    @apply theme-surface-2-active opacity-100;
}

.root.xs {
    @apply px-3 py-2 text-xs;
}

.root.sm {
    @apply px-4 py-2 text-sm;
}

.root.base {
    @apply px-5 py-3 text-base;
}

.root.lg {
    @apply px-5 py-3 text-lg;
}

.root.xl {
    @apply px-5 py-3 text-xl;
}

.icon.xs {
    @apply size-4;
}

.icon.sm {
    @apply size-[1.125rem];
}

.icon.base,
.icon.lg {
    @apply size-5;
}

.icon.xl {
    @apply size-6;
}
