@reference "../../../theme.css";

.root {
    @apply flex
        items-center
        justify-center
        w-full
        rounded-md
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out
        surface-secondary
        opacity-50;
}

.active {
    @apply theme-surface-2-active opacity-100;
}

.icon {
    
}

.xs {
    @apply p-1;
}

.sm {
    @apply p-2;
}

.base {
    @apply p-3;
}

.lg {
    @apply p-4;
}

.xl {
    @apply p-5;
}
