@reference "../../../theme.css";

.root {
    @apply w-fit
        flex
        items-center
        gap-2
        select-none
        rounded-t-xl
        px-3
        py-2
        text-xs
        hover:text-brand-green-dark
        hover:dark:text-brand-green
        cursor-pointer;
}

.root,
.root > p {
    @apply uppercase
        font-medium
        text-gray-500
        dark:text-neutral-400
        transition-colors
        duration-200
        ease-in-out;
}

.root.active {
    @apply bg-gray-100 dark:bg-neutral-900;
}

.root.active,
.root.active > p {
    @apply text-brand-green-dark dark:text-brand-green;
}

.active {
    @apply theme-surface-2-active opacity-100;
}

.root.sm {
    @apply sm:px-4 sm:py-2 sm:text-sm;
}

.root.base {
    @apply sm:px-5 sm:py-3 sm:text-base;
}

.root.lg {
    @apply sm:px-5 sm:py-3 sm:text-lg;
}

.root.xl {
    @apply sm:px-5 sm:py-3 sm:text-xl;
}

.icon {
    @apply size-4;
}

.icon.sm {
    @apply sm:size-[1.125rem];
}

.icon.base,
.icon.lg {
    @apply sm:size-5;
}

.icon.xl {
    @apply sm:size-6;
}
