.rewardsPopover {
    @apply flex flex-col gap-3 p-3;
}

.rewardsPopoverRow {
    @apply flex items-center gap-6 justify-between;
}

.rewardsPopoverRow > div {
    @apply flex items-center gap-2;
}

.rankWrapper {
    @apply cursor-pointer;
}
