@reference "../../../app.css";

.root {
    @apply hidden sm:flex p-1.5 border-2;
}

.networksWrapper {
    @apply gap-1.5;
}

.networksWrapper.grid {
    @apply grid grid-cols-2;
}

.network {
    @apply min-w-32
        flex
        items-center
        p-3
        rounded-sm
        gap-2
        cursor-pointer
        surface-secondary-hover
        transition-colors
        duration-200
        ease-in-out;
}
