@reference "../../theme.css";

.root {
    @apply relative
        w-fit
        font-sans
        font-medium
        text-base
        leading-4
        flex
        items-center
        justify-center
        cursor-pointer
        transition-colors
        duration-200;
}

.primary {
    @apply rounded-xl
        text-white
        dark:text-black
        bg-black
        dark:bg-white
        hover:bg-gray-800
        dark:hover:bg-gray-300;
}

.primary.disabled {
    @apply bg-gray-700
        text-gray-400
        hover:bg-gray-700
        cursor-not-allowed;
}

.secondary {
    @apply rounded-xl
        bg-gray-100
        hover:bg-gray-200
        border
        border-gray-500;
}

.secondary.disabled {
    @apply bg-gray-50
        text-gray-400
        hover:bg-gray-50
        cursor-not-allowed;
}

.primary.noBorder,
.secondary.noBorder {
    @apply border-transparent;
}

.primary.lg {
    @apply px-6 py-5;
}

.primary.sm {
    @apply px-5 py-3 text-sm;
}

.primary.xs {
    @apply px-4 py-2 text-xs;
}

.secondary.lg {
    @apply px-4 py-4;
}

.secondary.sm {
    @apply px-4 py-2.5;
}

.secondary.xs {
    @apply px-2 py-1;
}

.icon.lg {
    @apply w-5 h-5;
}

.icon.sm {
    @apply w-4 h-4;
}

.icon.xs {
    @apply w-3.5 h-3.5;
}

.spinner {
    @apply text-black origin-center animate-spin;
}

.wrapper {
    @apply min-h-6
        flex
        items-center
        first:mr-2
        last:ml-2
        only:m-0;
}
