@reference "../../theme.css";

.root {
    @apply relative
        w-fit
        font-sans
        font-medium
        leading-4
        flex
        items-center
        justify-center
        cursor-pointer
        transition-colors
        duration-200;
}

.primary {
    @apply rounded-lg
        border
        border-transparent
        text-gray-100
        dark:text-neutral-950
        bg-gray-900
        dark:bg-neutral-100
        hover:bg-gray-800
        dark:hover:bg-neutral-300;
}

.primary.disabled {
    @apply text-gray-500
        dark:text-neutral-500
        bg-gray-800
        dark:bg-neutral-700
        cursor-not-allowed;
}

.secondary {
    @apply rounded-lg
        bg-transparent
        border
        text-gray-900
        dark:text-neutral-100
        border-gray-900
        dark:border-neutral-100
        hover:bg-gray-950/[8%]
        dark:hover:bg-neutral-100/[12%];
}

.secondary.disabled {
    @apply text-gray-400
        dark:text-neutral-700
        border-gray-400
        dark:border-neutral-700
        dark:hover:bg-transparent
        cursor-not-allowed;
}

.primary.noBorder,
.secondary.noBorder {
    @apply border-transparent;
}

.primary.xs,
.secondary.xs {
    @apply p-2 text-xs rounded-md;
}

.primary.sm,
.secondary.sm {
    @apply px-3 py-2.5 text-sm;
}

.primary.base,
.secondary.base {
    @apply p-3 text-base;
}

.primary.lg,
.secondary.lg {
    @apply px-4 py-3 text-lg;
}

.icon.xs {
    @apply size-3;
}

.icon.sm,
.icon.base {
    @apply size-4;
}

.icon.lg {
    @apply size-5;
}

.spinner {
    @apply text-gray-100 dark:text-neutral-950 origin-center animate-spin;
}

.wrapper {
    @apply min-h-6
        flex
        items-center
        first:mr-1
        last:ml-1
        only:m-0;
}

.wrapper.xs {
    @apply first:mr-0.5 last:ml-0.5;
}
