@reference "../../app.css";

.root {
    @apply max-w-screen-xl
        w-full
        flex
        flex-col
        surface-primary
        rounded-xl
        transition-all
        duration-200
        ease-in-out;
}

.root.topLeftSquared {
    @apply rounded-tl-none;
}

.loadingBar {
    @apply px-3 rounded-bl-xl rounded-br-xl absolute overflow-y-hidden;
}

.loadingBar :global(.progress) {
    @apply rounded-bl-xl rounded-br-xl;
}

.tableWrapper {
    @apply overflow-x-scroll sm:overflow-x-auto;
}

.table {
    @apply min-w-[800px] 
        grid
        grid-cols-[0.1fr_0.4fr_3fr_1fr_1fr_1fr_1fr]
        gap-5
        items-center;
}

.header {
    @apply grid grid-cols-subgrid col-span-full items-center px-5 pt-5;
}

.column {
    @apply w-fit flex items-center gap-1;
}

.column:hover > .sortIcon {
    @apply opacity-100;
}

.column.sort {
    @apply cursor-pointer;
}

.sortIcon {
    @apply h-3.5
        w-3.5
        rotate-90
        opacity-0
        transition-all
        duration-200
        ease-in-out;
}

.sortIcon.asc {
    @apply -rotate-90;
}

.header > :nth-child(1),
.header > :nth-child(2) {
    @apply justify-self-center;
}

.body {
    @apply sm:w-full
        my-0
        grid
        grid-cols-subgrid
        col-span-full;
}

.body {
    @apply relative;
}

.empty {
    @apply w-full
        col-span-full
        h-[720px]
        flex
        flex-col
        items-center
        justify-center
        gap-7
        surface-primary
        rounded-2xl;
}

.paginationWrapper {
    @apply w-full p-5 mt-5 flex justify-end;
}

.customOptionContainer {
    @apply flex items-center;
}

.dot {
    @apply mr-3 rounded-full w-3 h-3;
}

.icon {
    @apply w-5 h-5 mr-3;
}

.selectOptionText {
    @apply truncate;
}
