@reference "../../../app.css";

.root {
    @apply sm:max-w-80 flex flex-col gap-3;
}

.container {
    @apply flex items-center justify-center h-full;
}

.chartWrapper {
    @apply flex
        items-center
        justify-center
        self-center
        size-[17.5rem]
        rounded-full
        background-main
        transition-colors
        duration-200
        ease-in-out;
}

.cell {
    @apply cursor-pointer
        outline-none
        hover:opacity-85
        stroke-gray-200
        dark:stroke-neutral-950
        transition-all
        duration-200
        ease-in-out;
}

.loading {
    @apply animate-pulse background-main;
}

.chartContainer {
    @apply size-[15rem];
}
