@reference "../../../app.css";

.root {
    @apply sm:max-w-80
        flex
        flex-col
        gap-3;
}

.container {
    @apply flex items-center justify-center h-full;
}

.chartWrapper {
    @apply flex
        items-center
        justify-center
        self-center
        w-[280px]
        h-[280px]
        rounded-full
        background-main
        transition-colors
        duration-200
        ease-in-out;
}

.cell {
    @apply cursor-pointer
        outline-none
        hover:opacity-85
        stroke-gray-100
        dark:stroke-zinc-950
        transition-all
        duration-200
        ease-in-out;
}

.loading {
    @apply animate-pulse background-main;
}

.chartContainer {
    @apply h-[240px] w-[240px];
}
