@reference "../../../app.css";

.root {
    @apply sm:max-w-80 flex flex-col gap-3 bg-gray-100 dark:bg-neutral-800;
}

.container {
    @apply flex items-center justify-center h-full;
}

.chartWrapper {
    @apply flex
        items-center
        justify-center
        self-center
        size-[15.625rem]
        rounded-full
        bg-gray-200
        dark:bg-neutral-900
        transition-colors
        duration-200
        ease-in-out;
}

.cell {
    @apply cursor-pointer
        outline-none
        hover:opacity-85
        stroke-gray-200
        dark:stroke-neutral-950
        transition-all
        duration-200
        ease-in-out;
}

.loading {
    @apply animate-pulse bg-gray-200 dark:bg-neutral-900;
}

.noDistribution {
    @apply flex flex-col justify-center items-center gap-2 size-[15.625rem];
}
