@reference "../../theme.css";

.root {
    @apply flex flex-col;
}

.header {
    @apply flex items-center;
}

.headerMonth {
    @apply flex-1 text-center select-none;
}

.headerIconWrapper {
    @apply flex
        items-center
        justify-center
        size-6
        cursor-pointer
        rounded-sm
        text-primary
        hover:bg-gray-200
        hover:dark:bg-neutral-700
        transition-colors
        duration-200
        ease-in-out;
}

.chevron {
    @apply size-4 text-primary;
}

.weeksHeader {
    @apply grid grid-cols-7 mt-3;
}

.weekDay {
    @apply size-8
        select-none
        flex
        justify-center
        items-center;
}

.calendar {
    @apply grid grid-cols-7 grid-rows-4;
}

.cell {
    @apply size-8
        select-none
        cursor-pointer
        flex
        justify-center
        items-center
        border
        border-transparent
        transition-colors
        rounded-lg
        duration-200
        ease-in-out;
}

.cellToday {
    @apply text-brand-green-dark! dark:text-brand-green!;
}

.cellDisabled {
    @apply cursor-not-allowed text-tertiary;
}

.cellSelected {
    @apply bg-brand-green-dark/[16%] dark:bg-brand-green/[20%] border-brand-green-dark dark:border-brand-green;
}

.cellSelectable {
    @apply text-primary;
}

.cellInRange {
    @apply bg-brand-green-dark/[8%] dark:bg-brand-green/[10%] rounded-none transition-none;
}

.cellRangeBoundStart {
    @apply bg-brand-green-dark/[16%] dark:bg-brand-green/[20%] border-brand-green-dark dark:border-brand-green;
}

.cellRangeBoundEnd {
    @apply bg-brand-green-dark/[16%] dark:bg-brand-green/[20%] border-brand-green-dark dark:border-brand-green;
}

.cellRangeBoundStart.cellRangeBoundEnd {
    @apply rounded-lg;
}

.cellInRange.startOfWeek {
    @apply rounded-l-lg;
}

.cellInRange.endOfWeek {
    @apply rounded-r-lg;
}
