@reference "../../theme.css";

.root {
    @apply flex
        gap-2
        flex-col
        justify-between;
}

.header {
    @apply flex items-center;
}

.headerMonth {
    @apply flex-1 text-center select-none;
}

.headerIconWrapper {
    @apply flex
        items-center
        justify-center
        h-9
        w-9
        cursor-pointer
        rounded-md
        text-black dark:text-slate-200
        bg-gray-50 dark:bg-slate-900
        hover:bg-gray-100 hover:dark:bg-slate-700
        transition-colors
        duration-200
        ease-in-out;
}

.rotateRight {
    @apply -rotate-90;
}

.rotateLeft {
    @apply rotate-90;
}

.weeksHeader {
    @apply grid grid-cols-7;
}

.weekDay {
    @apply w-9
        h-9
        select-none
        flex
        justify-center
        items-center;
}

.calendar {
    @apply grid grid-cols-7 grid-rows-4;
}

.cell {
    @apply w-9
        h-9
        select-none
        cursor-pointer
        flex
        justify-center
        items-center
        rounded-md
        hover:bg-gray-200 hover:dark:bg-slate-600
        transition-colors
        duration-200
        ease-in-out;
}

.cellToday {
    @apply bg-gray-100 dark:bg-slate-700;
}

.cellDisabled {
    @apply cursor-not-allowed
        hover:bg-transparent
        text-gray-300 dark:text-slate-600;
}

.cellToday.cellDisabled {
    @apply dark:bg-slate-900;
}

.cellSelected {
    @apply bg-gray-100 dark:bg-slate-900 !text-gray-900 dark:!text-slate-200;
}

.cellSelectable {
    @apply text-gray-400 dark:text-slate-300;
}

.cellInRange {
    @apply bg-gray-100 dark:bg-slate-900 rounded-none;
}

.cellRangeBoundStart {
    @apply bg-gray-200 dark:bg-slate-700 rounded-r-none !text-gray-900 dark:!text-slate-200;
}

.cellRangeBoundEnd {
    @apply bg-gray-200 dark:bg-slate-700 rounded-l-none !text-gray-900 dark:!text-slate-200;
}

.cellRangeBoundStart.cellRangeBoundEnd {
    @apply rounded-md;
}

.cellInRange.startOfWeek {
    @apply rounded-l-md;
}

.cellInRange.endOfWeek {
    @apply rounded-r-md;
}
