@reference "../../../app.css";

.root {
    @apply surface-primary
        rounded-t-4xl
        sm:rounded-t-none
        h-full
        w-full
        sm:w-[28rem]
        flex
        flex-col
        gap-6
        p-6
        sm:p-3;
}

.overlay {
    @apply z-30
        fixed
        top-0
        bottom-0
        left-0
        right-0
        bg-light-overlay dark:bg-dark-overlay;
}

.accountMenuHorizontal {
    @apply hidden
        sm:flex
        z-30
        fixed
        top-0
        bottom-0
        -right-[28rem];
}

.accountMenuVertical {
    @apply sm:hidden
        flex
        z-30
        max-h-[600px]
        fixed
        left-0
        right-0
        bottom-0
        w-full;
}

.drawBar {
    @apply self-center bg-zinc-500 h-1 w-9 rounded-xl sm:hidden;
}

.headerWrapper {
    @apply flex justify-between items-center;
}

.accountContainer {
    @apply flex items-center gap-3;
}

.topContent {
    @apply flex items-center gap-3;
}

.avatarWrapper {
    @apply p-2 rounded-lg bg-zinc-200 dark:bg-zinc-800;
}

.addressAndBalance {
    @apply flex flex-col;
}

.safeAvatar {
    @apply bg-safe-brand flex items-center justify-center;
}

.safeLogo {
    @apply w-6 h-6 text-black;
}

.clipWrapper {
    @apply flex
        gap-1
        items-center
        hover:[&>.icons]:opacity-100
        cursor-pointer
        transition-opacity
        duration-200
        ease-in-out;
}

.clipWrapper:hover .copyIconContainer {
    @apply opacity-100;
}

.balance {
    @apply flex justify-between mr-8 min-w-32;
}

.icon {
    @apply w-5 h-5;
}

.iconWrapper {
    @apply p-2 rounded-lg bg-zinc-200 dark:bg-zinc-800;
}

.disconnect {
    @apply cursor-pointer
        surface-primary-hover
        transition-colors
        duration-200
        ease-in-out;
}

.unsupportedChain {
    @apply bg-red-300 dark:bg-red-600;
}

.tabs {
    @apply flex gap-2;
}

.tab {
    @apply flex
        items-center
        gap-2
        h-10
        px-3
        select-none
        rounded-md
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out
        bg-white dark:bg-zinc-800
        hover:bg-white hover:dark:bg-zinc-800;
}

.tabIcon {
    @apply w-5 h-5;
}

.tabActive {
    @apply bg-zinc-200 dark:bg-zinc-700 surface-primary-hover;
}

.copyIcon {
    @apply w-5 h-5 text-primary;
}

.tickIcon {
    @apply w-7 h-7 text-green-600;
}

.rightContent {
    @apply flex gap-2;
}

.icons {
    @apply opacity-0
        flex
        items-center
        justify-center
        w-7
        h-7
        transition-opacity
        duration-200
        ease-in-out;
}
