@reference "../../../app.css";

.root {
    @apply surface-primary
        rounded-t-4xl
        sm:rounded-t-none
        h-full
        w-full
        sm:w-[30rem]
        flex
        flex-col
        gap-6;
}

.overlay {
    @apply z-30
        fixed
        top-0
        bottom-0
        left-0
        right-0
        bg-light-overlay dark:bg-dark-overlay;
}

.accountMenuHorizontal {
    @apply hidden
        sm:flex
        z-30
        fixed
        top-0
        bottom-0
        -right-[28rem];
}

.accountMenuVertical {
    @apply sm:hidden
        flex
        z-30
        max-h-[600px]
        fixed
        left-0
        right-0
        bottom-0
        w-full;
}

.drawBar {
    @apply self-center bg-gray-400 dark:bg-neutral-500 h-1 w-9 rounded-xl sm:hidden;
}

.headerWrapper {
    @apply flex
        justify-between
        border-b
        stroke-divider
        items-center
        p-6
        sm:px-5
        sm:py-8;
}

.accountContainer {
    @apply flex items-center gap-3;
}

.topContent {
    @apply flex items-center gap-3;
}

.addressAndBalance {
    @apply flex flex-col;
}

.safeAvatar {
    @apply bg-safe-brand flex items-center justify-center;
}

.safeLogo {
    @apply w-6 h-6 text-black;
}

.clipWrapper {
    @apply flex
        gap-1
        items-center
        hover:[&>.icons]:opacity-100
        cursor-pointer
        transition-opacity
        duration-200
        ease-in-out;
}

.balance {
    @apply flex justify-between mr-1 min-w-32;
}

.disconnect {
    @apply size-7
        text-primary
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.disconnect > svg {
    @apply size-7;
}

.copyIcon {
    @apply w-5 h-5 text-primary;
}

.tickIcon {
    @apply w-7 h-7 text-green-600;
}

.rightContent {
    @apply flex gap-2;
}

.icons {
    @apply flex items-center justify-center size-7;
}

.activityFeed {
    @apply flex flex-col gap-8 px-6 sm:px-5;;
}
