@reference "../../../app.css";

.root {
    @apply bg-gray-100
        h-full
        w-full
        sm:w-[28rem]
        flex
        flex-col
        p-3;
}

.headerWrapper {
    @apply flex justify-between items-center mb-6;
}

.accountContainer {
    @apply flex 
        items-center 
        gap-3 
        hover:bg-gray-200 
        p-2 
        rounded-md 
        cursor-pointer 
        transition-[outline,background-color]
        duration-200 
        ease-in-out 
        outline 
        outline-1 
        outline-transparent;
}

.accountContainer:hover .iconContainer {
    @apply visible;
}

.avatar {
    @apply w-12 h-12 rounded-full;
}

.disconnectIcon {
    @apply w-5 h-5 cursor-pointer;
}

.tabs {
    @apply flex gap-2 mb-4;
}

.tab {
    @apply flex
        items-center
        gap-2
        h-10
        px-3
        select-none
        rounded-md
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out
        hover:bg-white;
}

.tabIcon {
    @apply w-5 h-5;
}

.tabActive {
    @apply bg-gray-200 hover:bg-gray-200;
}

.copied {
    @apply outline-green-600;
}

.copyIcon {
    @apply w-5 h-5;
}

.tickIcon {
    @apply w-7 h-7 text-green-600;
}

.iconContainer {
    @apply invisible flex items-center justify-center w-7 h-7;
}
