@reference "../../../app.css";

.root {
    @apply flex flex-col gap-7 px-4 sm:px-0 w-full max-w-screen-xl;
}

.header {
    @apply flex flex-col gap-1;
}

.skeleton {
    @apply surface-primary animate-pulse rounded-xl;
}

.header > .skeleton:first-child {
    @apply h-8 w-72;
}

.header > .skeleton:last-child {
    @apply h-6 w-96;
}

.card {
    @apply h-[5.75rem] w-[26rem] rounded-xl animate-pulse surface-primary;
}
