@reference "../../../app.css";

.root {
    @apply w-full
        flex
        flex-col
        gap-7;
}

.header {
    @apply grid grid-cols-[0.8fr_1fr_0.9fr] md:grid-cols-3;
}

.header > :last-child {
    @apply justify-self-end;
}

.rowWrapper {
    @apply w-full flex items-center md:h-6;
}

.row {
    @apply w-full grid grid-cols-[0.8fr_1fr_0.9fr] md:grid-cols-3 items-end sm:items-center;
}

.row > :first-child {
    @apply flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4;
}

.row > :nth-child(2) {
    @apply justify-self-start;
}

.row > :last-child {
    @apply flex items-center gap-4 justify-self-end;
}

.connectWallet {
    @apply w-fit
        h-6
        rounded-md
        px-2.5
        surface-secondary
        surface-secondary-hover
        hover:cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}
