@reference "../../../app.css";

.root {
    @apply w-full
        flex
        items-center
        px-3
        py-2
        sm:px-5
        sm:py-4
        bg-gray-200
        dark:bg-neutral-700;
}

.root:last-child {
    @apply rounded-b-lg;
}

.restricted {
    @apply flex items-center flex-col sm:flex-row gap-1;
}

.text {
    @apply flex items-center gap-1;
}

.row {
    @apply w-full grid grid-cols-[0.8fr_1fr_0.9fr] md:grid-cols-3 items-end sm:items-center;
}

.row > :first-child {
    @apply flex flex-col sm:flex-row sm:items-center gap-2 sm:gap-4;
}

.row > :nth-child(2) {
    @apply justify-self-start;
}

.row > :last-child {
    @apply flex items-center gap-4 justify-self-end;
}

.connectWallet {
    @apply w-fit flex items-center gap-1 cursor-pointer;
}

.arrowIcon {
    @apply size-4;
}

.arrowIcon > path {
    @apply stroke-2;
}
