@reference "../../../../app.css";

.step {
    @apply !h-auto;
}

.stepPreview {
    @apply hover:cursor-default hover:bg-inherit h-full p-0;
}

.previewLabelWrapper {
    @apply w-full flex items-start justify-between gap-1 px-4 pt-5;
}

.previewLabelWrapper.disabled {
    @apply p-0 items-center;
}

.previewTextWrapper {
    @apply flex flex-col gap-1;
}

.previewLabel {
    font-size: inherit;
    color: inherit;
}

.inputLabel {
    @apply text-xs text-zinc-400;
}

.error {
    @apply transition-opacity duration-200 ease-in-out opacity-0;
}

.errorVisible {
    @apply opacity-100;
}

.previewWrapper {
    @apply h-full w-full flex flex-col gap-2.5;
}

.tab {
    @apply bg-white dark:bg-zinc-800
        hover:bg-zinc-100 hover:dark:bg-zinc-700
        opacity-100
        transition-colors
        duration-200
        ease-in-out;
}

.tab > p {
    @apply text-zinc-400 transition-colors duration-200 ease-in-out;
}

.tab:first-child {
    @apply rounded-r-none;
}

.tab:last-child {
    @apply rounded-l-none;
}

.activeTab {
    @apply bg-black dark:bg-zinc-950;
}

.activeTab > p {
    @apply text-white;
}
