@reference "../../../../../app.css";

.root {
    @apply flex flex-col gap-2.5;
}

.inputWrapper {
    @apply flex flex-col gap-1.5;
}

.addButton {
    @apply w-full;
}

.divider {
    @apply h-[1px] bg-zinc-200 dark:bg-zinc-800;
}

.listWrapper {
    @apply flex flex-col gap-1.5;
}

.list {
    @apply max-h-64 overflow-y-auto snap-y flex flex-col gap-2;
}

.row {
    @apply flex items-center justify-between snap-start px-4 py-5 bg-zinc-100 dark:bg-zinc-900 rounded-lg;
}
