@reference "../../../../../app.css";

.root {
    @apply h-full w-full flex flex-col;
}

.feeTokenSelectWrapper {
    @apply flex items-center justify-between;
}

.feeTokenWrapper {
    @apply flex items-center gap-1;
}

.wrapper {
    @apply flex flex-col gap-2.5 px-4 pb-4;
}

.chevronDown {
    @apply h-3 w-3;
}

.horizontalDivider {
    @apply h-[1px] border stroke-divider;
}

.feeTokenSelect {
    @apply w-fit
        max-w-40
        flex
        gap-1
        items-center
        justify-between
        rounded-md
        pl-2.5
        pr-1
        py-1.5
        border
        border-gray-300
        dark:border-neutral-600
        transition-colors
        duration-200
        ease-in-out
        hover:cursor-pointer
        surface-primary-hover;
}

.applyButton {
    @apply w-full;
}
