.root {
    @apply w-full
        flex
        gap-2
        flex-col
        justify-between;
}

.header {
    @apply flex items-center;
}

.headerMonth {
    @apply flex-1 text-center;
}

.headerIconWrapper {
    @apply px-2
        py-2.5
        cursor-pointer
        rounded-md
        bg-gray-50
        transition-colors
        duration-200
        ease-in-out
        hover:bg-gray-100;
}

.headerIcon {
    @apply text-black;
}

.rotateRight {
    @apply -rotate-90;
}

.rotateLeft {
    @apply rotate-90;
}

.weeksHeader {
    @apply grid grid-cols-7;
}

.weekDay {
    @apply w-9
        h-9
        select-none
        flex
        justify-center
        items-center;
}

.calendar {
    @apply grid grid-cols-7 grid-rows-4;
}

.cell {
    @apply w-9
        h-9
        select-none
        cursor-pointer
        flex
        justify-center
        items-center
        rounded-md
        transition-colors
        duration-200
        ease-in-out
        hover:bg-gray-200;
}

.cellDisabled {
    @apply cursor-not-allowed
        hover:bg-transparent
        opacity-40;
}

.cellSelected {
    @apply bg-gray-200;
}

.cellInRange {
    @apply bg-gray-100;
}

.cellRangeBound {
    @apply bg-gray-200;
}
