@reference "../../../theme.css";

.root {
    @apply w-fit relative;
}

.background {
    @apply absolute inset-0 z-[1] rounded-sm bg-gray-300 dark:bg-neutral-600;
}

.optionWrapper {
    @apply relative z-[2] py-1 px-2;
}

.optionWrapper > * {
    @apply transition-colors duration-200 ease-in-out;
}

.optionWrapper:not(.active) > * {
    @apply text-tertiary;
}
