@reference "../../app.css";

.root {
    @apply w-full max-w-screen-xl flex flex-col items-center gap-12 px-4 sm:px-0;
}

.header {
    @apply w-full flex flex-col sm:gap-3 gap-8;
}

.divider {
    @apply h-[0.063rem] w-full bg-gray-300 dark:bg-neutral-800;
}

.campaignIdInput {
    @apply w-1/2;
}

.section {
    @apply flex flex-col gap-4;
}

.sectionHeader {
    @apply flex items-center gap-2;
}

.chartsWrapper {
    @apply w-full flex flex-col gap-4;
}

.distributionsBreakdownHeader {
    @apply flex justify-between;
}

.searchAddressInput {
    @apply sm:w-96;
}

.timestampBars {
    @apply w-full overflow-x-auto;
}

.timestampBar {
    @apply min-w-fit;
}

.breakdownListWrapper {
    @apply flex flex-col w-full h-[37.5rem] p-0 overflow-y-hidden;
}

.breakdownListWrapper.noBorderRadius {
    @apply rounded-t-none;
}

.warningMessage {
    @apply px-4 py-2 bg-warning/[12%];
}

.breakdownListheader {
    @apply grid grid-cols-[0.15fr_0.2fr_1.5fr_0.5fr_0.3fr] p-4;
}

.breakdownListheader > :nth-child(4) {
    @apply justify-self-end;
}

.breakdownListheader > :last-child {
    @apply justify-self-end;
}

.breakdownList {
    @apply scroll-smooth;
}

.dataWrapper {
    @apply w-full h-full flex flex-col gap-12;
}

.chartWrapper {
    @apply w-full h-[500px] flex items-center justify-center gap-2;
}

.chartWrapper.loading {
    @apply items-end;
}

.empty {
    @apply h-full flex flex-col gap-2 self-center justify-center items-center;
}

.loadingBar {
    @apply h-[28.125rem] animate-pulse surface-secondary w-full max-w-10 rounded-t-md;
}

.chart {
    @apply w-full h-[500px];
}

.timeTick {
    @apply font-sans
        uppercase
        text-xs
        leading-none
        font-medium
        fill-black dark:fill-zinc-200
        transition-colors
        duration-200
        ease-in-out;
}

.redText {
    @apply text-error bg-error/[12%] rounded-md px-1 font-bold;
}

.greenText {
    @apply text-brand-green-dark dark:text-brand-green bg-brand-green-dark/[12%] dark:bg-brand-green/[12%] rounded-md px-1 font-bold;
}
