@reference "../../theme.css";

.inputWrapper {
    @apply w-full relative;
}

.inputIconWrapper {
    @apply absolute
        top-0
        h-full
        w-12
        flex
        justify-center
        items-center
        pointer-events-none;
}

.prefixElementWrapper {
    @apply absolute
        w-auto
        top-0
        left-2
        h-full
        flex
        justify-center
        items-center
        pointer-events-none;
}

.prefixElementWrapper.hasLeftIcon {
    @apply left-10;
}

.placeLeft {
    @apply -left-1;
}

.placeRight {
    @apply -right-1;
}

.hasLeftIcon input {
    @apply pl-5;
}

.hasRightIcon input {
    @apply pr-5;
}

.input {
    @apply w-full
        rounded-lg
        font-sans
        font-normal
        outline-none
        border-2
        border-transparent
        focus:border-gray-300
        dark:focus:border-neutral-600
        placeholder:text-tertiary
        /* FIXME: this doesn't work on Firefox, find a way to fix this and enable it back */
        /* focus:placeholder:text-light-text-primary
        dark:focus:placeholder:text-dark-text-primary */
        placeholder:select-none
        surface-secondary
        text-primary
        transition-colors
        duration-200
        ease-in-out;
}

.input.xs {
    @apply px-2 py-1;
}

.input.sm,
.input.base {
    @apply px-3 py-1.5;
}

.input.lg {
    @apply px-3 py-2;
}

.xs {
    @apply text-xs;
}

.sm {
    @apply text-sm;
}

.base {
    @apply text-base;
}

.lg {
    @apply text-lg;
}

.inputIcon {
    @apply text-primary stroke-2;
}

.inputIcon.xs {
    @apply size-3;
}

.inputIcon.sm {
    @apply size-4;
}

.inputIcon.base {
    @apply size-[1.125rem];
}

.inputIcon.lg {
    @apply size-5;
}

.inputError,
.inputError > input {
    @apply border-error;
}

.errorText {
    @apply mt-1;
}

.inputLoading {
    @apply animate-pulse;
}

.label {
    @apply flex
        items-center
        gap-1.5
        w-fit
        mb-1.5;
}

.label.hide {
    @apply hidden;
}
