@reference "../../theme.css";

.inputWrapper {
    @apply w-full relative;
}

.inputIconWrapper {
    @apply absolute
        top-0
        h-full
        w-12
        flex
        justify-center
        items-center
        pointer-events-none;
}

.placeLeft {
    @apply -left-1;
}

.placeRight {
    @apply -right-1;
}

.hasLeftIcon input {
    @apply pl-9;
}

.hasRightIcon input {
    @apply pr-9;
}

.input {
    @apply rounded-md
        px-2
        py-3
        font-sans
        font-normal
        outline-none
        border
        border-transparent
        transition-colors
        duration-200
        ease-out
        placeholder:text-gray-400
        placeholder:select-none
        bg-gray-100 dark:bg-slate-900
        text-black dark:text-slate-200
        w-full;
}

.xs {
    @apply text-xs;
}

.sm {
    @apply text-sm;
}

.base {
    @apply text-base;
}

.lg {
    @apply text-lg;
}

.inputIcon {
    @apply text-black dark:text-slate-200;
}

.inputIcon.xs {
    @apply h-3 w-3;
}

.inputIcon.sm {
    @apply h-4 w-4;
}

.inputIcon.base {
    @apply h-[1.125rem] w-[1.125rem];
}

.inputIcon.lg {
    @apply h-5 w-5;
}

.inputError,
.inputError > input {
    @apply border-red-600;
}

.errorText {
    @apply mt-1;
}

.inputLoading {
    @apply animate-pulse;
}

.label {
    @apply flex
        items-center
        gap-1.5
        w-fit
        mb-1.5;
}
