.root {
    @apply bg-gray-200 border-none;
}

.root:global(.rc-switch-checked) {
    @apply bg-black border-none;
}

.root:global(.rc-switch-disabled) {
    @apply bg-gray-100 border-none;
}

.root:global(.rc-switch-disabled::after) {
    @apply bg-gray-200;
}

.root:global(.rc-switch-unchecked) {
    @apply border-none;
}

.root:global(.rc-switch::after) {
    @apply transform-none animate-none;
}

.root:global(.rc-switch:focus) {
    @apply shadow-none;
}

.root.lg {
    @apply w-14 h-8;
}

.root.lg:global(.rc-switch::after) {
    @apply w-6 h-6 left-1 top-1 shadow-none;
}

.root.lg:global(.rc-switch-checked::after) {
    @apply left-7;
}

.root.sm {
    @apply w-10 h-6;
}

.root.sm:global(.rc-switch::after) {
    @apply w-4 h-4 left-1 top-1 shadow-none;
}

.root.sm:global(.rc-switch-checked::after) {
    @apply left-5;
}

.root.xs {
    @apply w-8 h-4;
}

.root.xs:global(.rc-switch::after) {
    @apply w-3 h-3 left-0.5 top-0.5 shadow-none;
}

.root.xs:global(.rc-switch-checked::after) {
    @apply left-4;
}
