@reference "../../theme.css";

.root {
    @apply flex
        relative
        items-center
        justify-between
        rounded-[6.25rem]
        bg-gray-300
        dark:bg-neutral-600
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.root.disabled {
    @apply pointer-events-none;
}

.root.xs {
    @apply p-0.5 w-8 h-[1.125rem];
}

.root.sm {
    @apply w-10 h-[1.375rem];
}

.root.lg {
    @apply p-1 w-[3.25rem] h-8;
}

.checked {
    @apply bg-brand-green-dark dark:bg-brand-green;
}

.circle {
    @apply absolute flex items-center justify-center rounded-full bg-gray-200 dark:bg-neutral-100;
}

.circle.xs {
    @apply size-3.5;
}

.circle.sm {
    @apply size-[1.125rem];
}

.circle.lg {
    @apply size-6;
}
