@import "tailwindcss";

html.no-transition *,
html.no-transition *::before,
html.no-transition *::after {
    transition: none !important;
    animation: none !important;
}

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@utility background-main {
    @apply bg-light-background-main dark:bg-dark-background-main;
}

@utility surface-primary {
    @apply bg-light-surface-primary dark:bg-dark-surface-primary;
}

@utility surface-secondary {
    @apply bg-light-surface-secondary dark:bg-dark-surface-secondary;
}

@utility surface-primary-hover {
    @apply hover:bg-gray-150 hover:dark:bg-neutral-800;
}

@utility surface-secondary-hover {
    @apply hover:bg-gray-50 hover:dark:bg-neutral-700;
}

/* TODO: remove these */
@utility theme-surface-active {
    @apply bg-zinc-200 dark:bg-zinc-700;
}

@utility theme-surface-2-active {
    @apply bg-zinc-250 dark:bg-zinc-750;
}

@utility text-primary {
    @apply text-light-text-primary dark:text-dark-text-primary;
}

@utility text-secondary {
    @apply text-light-text-secondary dark:text-dark-text-secondary;
}

@utility text-tertiary {
    @apply text-light-text-tertiary dark:text-dark-text-tertiary;
}

@utility stroke-divider {
    @apply border-light-stroke-divider dark:border-dark-stroke-divider;
}

@utility chart-area-secondary {
    @apply fill-gray-300 dark:fill-neutral-800;
}

@utility overlay {
    @apply bg-light-overlay dark:bg-dark-overlay backdrop-blur-[0.25rem];
}

@theme {
    --font-sans: "IBM Plex Sans", ui-sans-serif, sans-serif;
    --font-mono: "IBM Plex Mono", ui-monospace, monospace;

    --text-xl4: 3rem;
    --text-xl3: 2.25rem;
    --text-xl2: 1.5rem;
    --text-xl: 1.25rem;
    --text-lg: 1.125rem;
    --text-base: 1rem;
    --text-sm: 0.875rem;
    --text-xs: 0.75rem;
    --text-inherit: inherit;

    --color-safe-brand: #12ff80;
    --color-brand-green: #6cff95;
    --color-brand-green-dark: #0ea400;
    --color-brand-blue: #3c82f6;
    --color-carrot-orange: #ef802b;
    --color-error: #b91c1c;
    --color-warning: #ca8a04;
    --color-black: #000000;
    --color-white: #ffffff;

    --color-gray-150: #f1f3f5;
    --color-gray-100: #f9fafb;

    --color-zinc-250: #e2e2e2;
    --color-zinc-750: #5a5a5a;

    --color-light-background-main: theme(colors.gray.200);
    --color-light-surface-primary: theme(colors.gray.100);
    --color-light-surface-secondary: theme(colors.gray.150);
    --color-light-text-primary: theme(colors.gray.900);
    --color-light-text-secondary: theme(colors.gray.700);
    --color-light-text-tertiary: theme(colors.gray.500);
    --color-light-link-primary: var(--color-brand-green-dark);
    --color-light-link-secondary: theme(colors.gray.500);
    --color-light-stroke-divider: theme(colors.gray.200);
    --color-light-overlay: oklch(0.07 0 0 / 0.24);

    --color-dark-background-main: theme(colors.neutral.950);
    --color-dark-surface-primary: theme(colors.neutral.900);
    --color-dark-surface-secondary: theme(colors.neutral.800);
    --color-dark-text-primary: theme(colors.neutral.100);
    --color-dark-text-secondary: theme(colors.neutral.300);
    --color-dark-text-tertiary: theme(colors.neutral.400);
    --color-dark-link-primary: var(--color-brand-green);
    --color-dark-link-secondary: theme(colors.neutral.100);
    --color-dark-stroke-divider: theme(colors.neutral.800);
    --color-dark-overlay: oklch(0.07 0 0 / 0.5);

    --color-neutral-gray: #9ca3af;

    --width-screen-sm: var(--breakpoint-sm);
    --width-screen-md: var(--breakpoint-md);
    --width-screen-lg: var(--breakpoint-lg);
    --width-screen-xl: var(--breakpoint-xl);
    --width-screen-2xl: var(--breakpoint-2xl);
}

@utility transition-all {
    transition-property:
        color,
        background-color,
        border-color,
        outline-color,
        text-decoration-color,
        fill,
        stroke,
        --tw-gradient-from,
        --tw-gradient-via,
        --tw-gradient-to,
        opacity,
        box-shadow,
        transform,
        translate,
        scale,
        rotate,
        filter,
        -webkit-backdrop-filter,
        backdrop-filter,
        border-radius;
}
