@reference "../../../app.css";

.root {
    @apply flex py-1 px-2 items-center gap-1 h-6 border border-transparent rounded-sm;
}

.root.active {
    @apply bg-brand-green-dark/[12%] dark:bg-brand-green/[16%];
}

.root.upcoming {
    @apply bg-brand-blue/[16%];
}

.root.expired {
    @apply border-gray-300 dark:border-neutral-700;
}
