@reference "../../../../app.css";

.root {
    @apply w-fit justify-center pointer-events-none md:pointer-events-auto;
}

.aprWrapper {
    @apply w-fit;
}

.popoverContent {
    @apply flex flex-col gap-2 w-[400px];
}

.description {
    @apply leading-5;
}

.skeletonDescription {
    @apply h-6;
}

.skeletonDescription :global(.skeleton) {
    @apply rounded-xl;
}

.chartWrapper {
    @apply w-full max-w-[400px] h-[270px];
}
