.root {
    @apply bg-brand-blue rounded-lg py-2 px-2 w-fit  col-span-4 md:col-span-1;
}

.text {
    @apply text-white text-sm md:text-base;
}

.emptyAPR{
    @apply w-full col-span-4 md:col-span-1 text-center;
}