@reference "../../../../../app.css";

.root {
    @apply bg-zinc-200 dark:bg-zinc-800
        min-h-[68px]
        rounded-xl
        flex
        snap-start
        justify-between
        p-3
        pr-5;
}

.wrapper {
    @apply w-full flex flex-1 gap-3 items-center;
}

.iconWrapper {
    @apply surface-secondary
        rounded-lg
        flex
        justify-center
        items-center
        p-1
        w-full
        max-w-10
        h-10;
}

.iconWrapper.loading {
    @apply animate-pulse bg-zinc-300 dark:bg-zinc-900;
}

.icon {
    @apply w-7 h-7 text-primary;
}

.bodyWrapper {
    @apply w-full flex flex-col gap-1;
}

.titleWrapper {
    @apply flex w-full justify-between;
}

.title {
    @apply flex items-center gap-1;
}

.externalLinkIcon {
    @apply h-4 w-4 transform -rotate-45;
}

.campaignLink {
    @apply w-fit;
}

.campaignNameWrapper {
    @apply w-full
        flex
        items-center
        gap-2
        transition-opacity
        duration-200
        ease-in-out
        hover:opacity-70;
}

.dexIcon,
.dexIcon > svg {
    @apply w-4 h-4;
}

.seeCampaignLink {
    @apply no-underline max-w-60;
}

.claimRewardWrapper {
    @apply w-full flex items-center gap-2;
}

.skeleton :global(.skeleton) {
    @apply bg-zinc-300 dark:bg-zinc-900;
}
