@reference "../../../../../app.css";

.root {
    @apply min-h-8 w-full flex items-center gap-3 sm:gap-5 px-3 py-2 surface-secondary rounded-lg;
}

.root.loading {
    @apply animate-pulse;
}

.root.createCampaign {
    @apply flex flex-col items-start sm:items-center sm:flex-row;
}

.leftContent {
    @apply flex justify-between gap-3 sm:gap-5;
}

.rightContent {
    @apply flex gap-1.5;
}

.arrow {
    @apply size-4 text-gray-500 dark:text-neutral-400;
}

.details {
    @apply w-fit flex justify-between items-center gap-3;
}

.details.loading {
    @apply w-[9.375rem];
}

.action > p {
    @apply sm:max-w-[7rem] overflow-hidden text-nowrap text-ellipsis;
}

.skeleton :global(.skeleton) {
    @apply bg-gray-300 dark:bg-neutral-700;
}

.externalLinkIcon {
    @apply size-4 transform -rotate-45;
}
