@reference "../../../theme.css";

.root {
    @apply w-fit
        flex
        items-center
        border-b-2
        border-gray-300
        dark:border-neutral-700
        gap-2
        select-none
        px-3
        py-2
        text-xs
        hover:text-brand-green-dark
        hover:dark:text-brand-green
        hover:border-brand-green-dark
        hover:dark:border-brand-green
        cursor-pointer;
}

.root,
.root > p {
    @apply uppercase
        font-medium
        text-gray-500
        dark:text-neutral-400
        transition-colors
        duration-200
        ease-in-out;
}

.root.active,
.root.active > p {
    @apply text-brand-green-dark dark:text-brand-green border-brand-green-dark dark:border-brand-green;
}

.active {
    @apply opacity-100;
}
