@reference "../../theme.css";

.wrapper {
    @apply w-full
        px-2
        py-3
        rounded-md
        surface-secondary
        flex
        flex-col
        gap-0.5
        items-center;
}

/* TODO: improve styles */
.slider {
    @apply w-full
        h-5
        accent-black dark:accent-zinc-400
        rounded-2xl
        cursor-pointer;
}
