@reference "../../app.css";

.root {
    @apply w-full flex items-center gap-1;
}

.mainText {
    @apply text-gray-900 dark:text-neutral-950;
}

.lightText {
    @apply text-gray-900/50 dark:text-neutral-950/50;
}

.activeChip {
    @apply flex items-center gap-1 bg-brand-green-dark rounded-sm px-1.5 py-0.5;
}

.statusDot {
    @apply bg-white/[28%];
}

.statusDot :global(.dot) {
    @apply bg-gray-50 dark:bg-neutral-100;
}

.activeText {
    @apply text-gray-50 dark:text-neutral-100;
}
