@reference "../../../../app.css";

.root {
    @apply w-full flex items-center;
}

.back {
    @apply p-1.5
        mr-auto
        rounded-lg
        hover:cursor-pointer
        surface-primary
        surface-primary-hover
        transition-colors
        duration-200
        ease-in-out;
}

.title {
    @apply mr-auto -translate-x-3;
}
