@reference "../../../app.css";

.root {
    @apply flex
        flex-col
        gap-2
        p-3
        min-w-60
        rounded-lg
        border
        bg-gray-100
        dark:bg-neutral-950
        border-gray-300
        dark:border-neutral-600;
}

.fieldWrapper {
    @apply flex items-center justify-between gap-4;
}

.tokenWrapper {
    @apply flex items-center gap-2;
}

.accountWrapper {
    @apply flex items-center gap-2;
}

.legendSquare {
    @apply w-4 h-4 rounded-sm;
}

.amount {
    @apply flex items-center gap-1;
}
