.root {
    @apply w-full
        flex
        gap-2
        flex-col
        sm:flex-row
        justify-between
        items-start
        sm:items-center
        rounded-xl
        p-4;
}

.chainNameWrapper {
    @apply w-full flex-1 flex gap-3;
}

.chainIcon {
    @apply w-10 !h-10;
}

.buttonsWrapper {
    @apply flex gap-2;
}
