@reference "../../theme.css";

.root {
    @apply w-full sm:w-auto justify-center flex gap-1 sm:gap-2;
}

.arrowIcon {
    @apply w-5 h-5 text-primary;
}

.ellipsis {
    @apply w-9 h-9 flex items-center justify-center;
}

.button {
    @apply size-9!;
}

.button.loading {
    @apply animate-pulse;
}

.button.active {
    @apply bg-gray-50 dark:bg-neutral-700 pointer-events-none;
}
