@reference "../../theme.css";

.root {
    @apply w-full
        min-w-72
        flex
        items-center
        justify-between
        gap-4;
}

.toast {
    @apply absolute right-0 rounded-2xl surface-primary p-3;
}

.wrapper {
    @apply flex items-center gap-4;
}

.iconWrapper {
    @apply p-3.5 surface-secondary rounded-lg;
}

.iconWrapper.error {
    @apply bg-red-600;
}

.icon {
    @apply w-6 h-6 text-primary;
}

.icon.error {
    @apply stroke-white dark:stroke-zinc-100 text-white dark:text-zinc-100;
}

.contentWrapper {
    @apply flex flex-col gap-2;
}

.dismissIcon {
    @apply w-2.5 h-2.5 cursor-pointer text-primary;
}
