@reference "../../theme.css";

.root {
    @apply w-full
        min-w-80
        flex
        items-center
        justify-between
        p-3
        gap-4
        rounded-lg;
}

.root {
    @apply relative overflow-hidden;
}

.root::before {
    content: "";
    @apply absolute -left-1 top-1 bottom-1 w-1.5 rounded-l-lg;
}

.root.success::before {
    @apply bg-brand-green-dark dark:bg-brand-green;
}

.root.warning::before {
    @apply bg-warning;
}

.root.fail::before {
    @apply bg-error;
}

.toast {
    @apply absolute right-0 rounded-lg surface-primary;
}

.wrapper {
    @apply flex gap-1;
}

.icon {
    @apply size-4 text-primary;
}

.icon.success {
    @apply text-brand-green-dark dark:text-brand-green;
}

.icon.warning {
    @apply text-warning;
}

.icon.fail {
    @apply text-error;
}

.contentWrapper {
    @apply flex flex-col gap-2;
}

.dismissIcon {
    @apply w-2.5 h-2.5 cursor-pointer text-primary;
}
