@reference "../../app.css";

.root {
    @apply w-full max-w-screen-xl flex flex-col items-center gap-4 md:gap-8;
}

.topContent {
    @apply w-full max-w-screen-xl flex flex-col gap-4 md:gap-8 px-4 sm:px-0;
}

.widgets {
    @apply w-full flex;
}

.skeletonHeader {
    @apply w-full h-[7.75rem] rounded-lg bg-gray-200 dark:bg-neutral-800 animate-pulse;
}

.skeletonProjectIntro {
    @apply w-full flex gap-4;
}

.skeletonIntroArticle {
    @apply flex w-full md:max-w-1/2 bg-gray-200 dark:bg-neutral-800 animate-pulse h-[4.5rem] rounded-lg;
}
