@reference "../../app.css";

.root {
    @apply w-full max-w-screen-xl flex flex-col items-center px-4 sm:px-0 gap-4 md:gap-8;
}

.tableWrapper {
    @apply w-full flex flex-col mt-6;
}

.table {
    @apply rounded-tl-none;
}
