@reference "../../../../../app.css";

.root {
    @apply w-fit
        max-w-40
        flex
        gap-1
        items-center
        justify-between
        rounded-md
        px-2.5
        py-1.5
        surface-secondary
        surface-secondary-hover
        hover:cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.input {
    @apply hidden;
}
