@reference "../../../../../app.css";

.root {
    @apply w-fit
        max-w-40
        flex
        gap-1
        items-center
        justify-between
        rounded-md
        px-2.5
        py-1.5
        border
        border-gray-300
        dark:border-neutral-600
        transition-colors
        duration-200
        ease-in-out
        hover:cursor-pointer
        surface-primary-hover;
}

.input {
    @apply hidden;
}
