@reference "../../../../../app.css";

.root {
    @apply w-fit
        max-w-40
        flex
        gap-1
        items-center
        justify-between
        rounded-md
        dark:bg-slate-950 bg-gray-100 dark:bg-slate-900
        px-2.5
        py-1.5
        hover:bg-gray-200 hover:dark:bg-slate-200
        hover:cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.input {
    @apply hidden;
}
