.root {
    @apply h-auto
        flex
        flex-col
        sm:min-w-[750px]
        bg-gray-100
        overflow-hidden
        m-5
        rounded-3xl;
}

.content {
    @apply flex
        overflow-y-auto
        max-h-[400px]
        sm:max-h-[650px]
        flex-col
        gap-4
        px-5
        sm:px-6
        py-4;
}

.contentGrid {
    @apply grid grid-cols-2 gap-4;
}

.deployButtonContainer {
    @apply w-full mt-8 flex flex-col gap-2 items-center justify-center;
}

.deployButton {
    @apply w-full max-w-[400px];
}

.feedback {
    @apply w-full
        sm:w-auto
        sm:min-w-[40rem]
        text-center
        flex
        flex-col
        items-center
        gap-3
        px-5
        sm:px-6
        py-4
        mx-5
        bg-brand-green
        rounded-3xl;
}

.metromLogo {
    @apply m-7;
}

.feedbackActionsContainer {
    @apply flex
        flex-wrap
        sm:flex-nowrap
        w-full
        gap-3
        sm:gap-6
        justify-between
        items-center
        mt-4;
}

.feedbackButton {
    @apply w-full h-16;
}
