.root {
    @apply flex
        flex-col
        bg-gray-100
        rounded-3xl;
}

.content {
    @apply flex flex-col gap-5 px-6 py-4;
}

.contentGrid {
    @apply grid grid-cols-2 gap-4;
}

.deployButtonContainer {
    @apply w-full flex justify-center;
}

.deployButton {
    @apply w-full max-w-[400px];
}

.feedback {
    @apply min-w-[40rem]
        flex
        flex-col
        items-center
        gap-3
        px-6 py-4
        bg-brand-green
        rounded-3xl;
}

.metromLogo {
    @apply m-7;
}

.feedbackActionsContainer {
    @apply flex
        w-full
        gap-6
        justify-between
        items-center
        mt-4;
}

.feedbackButton {
    @apply w-full h-16;
}
