@reference "../../../../app.css";

.root {
    @apply max-w-28 w-full flex items-center gap-2 col-span-1;
}

.text {
    @apply w-full flex flex-col justify-end gap-1 flex-1;
}

.duration {
    @apply h-3.5 flex whitespace-nowrap;
}
