.statusRoot {
    @apply flex items-center gap-2 col-span-4 md:col-span-1;
}

.statusText {
    @apply flex items-end gap-1;
}

.statusDot {
    @apply w-2 h-2 rounded-full;
}

.statusDotLive {
    @apply bg-brand-green;
}

.statusDotUpcoming {
    @apply bg-brand-blue;
}

.statusDotEnded {
    @apply bg-gray-400;
}
