.root {
    @apply flex
        flex-col
        gap-5
        max-w-[410px]
        w-full
        sm:px-0
        px-5;
}

.header {
    @apply w-full flex items-center;
}

.backButton {
    @apply p-1.5
        mr-auto
        rounded-lg
        bg-white
        hover:cursor-pointer
        hover:bg-gray-200
        duration-200
        ease-in-out;
}

.title {
    @apply mr-auto -translate-x-3;
}

.formWrapper {
    @apply flex flex-col gap-11 w-full;
}

.button {
    @apply w-full;
}
