@reference "../../../app.css";

.root {
    @apply flex
        flex-col
        gap-8
        px-4
        sm:px-0
        max-w-screen-xl
        w-full;
}

.content {
    @apply flex gap-10;
}

.form {
    @apply w-full flex flex-col gap-8 flex-[72%];
}
