@reference "../../../app.css";

.root {
    @apply max-w-screen-xl;
}

.titleWrapper {
    @apply flex gap-2 items-center;
}

.dot {
    @apply size-2.5 rounded-full;
}

.dot.blacklist {
    @apply bg-error;
}

.dot.whitelist {
    @apply bg-brand-green-dark dark:bg-brand-green;
}

.list {
    @apply max-h-64 overflow-y-auto flex flex-col py-4;
}

.row {
    @apply flex items-center justify-between px-3 py-1 sm:px-5 sm:py-2;
}

.row.connected {
    @apply bg-gray-200 dark:bg-neutral-700;
}

.account {
    @apply flex items-center gap-2;
}
