@reference "../../../app.css";

.root {
    @apply flex sm:hidden;
}

.networksWrapper {
    @apply grid grid-cols-2 gap-2 max-h-[400px] overflow-y-auto;
}

.row {
    @apply flex items-center gap-4 p-3 rounded-sm;
}
