@reference "../../../app.css";

.root {
    @apply w-full lg:max-w-64 h-fit flex flex-col gap-2 rounded-xl p-4;
}

.chainsWrapper {
    @apply flex flex-wrap gap-2;
}

.header {
    @apply mb-2;
}

.row {
    @apply w-full 
        flex
        items-center
        justify-between
        p-3
        gap-3
        rounded-lg;
}

.rowAnimated {
    @apply cursor-pointer
        bg-zinc-100 dark:bg-zinc-900
        hover:bg-zinc-200 dark:hover:bg-zinc-700
        transition-colors
        ease-in-out
        duration-200;
}

.rowActive {
    @apply bg-zinc-200 dark:bg-zinc-700 theme-surface-hover;
}

.chainNameWrapper {
    @apply w-full flex items-center gap-3;
}

.chainIcon {
    @apply w-5 !h-5 rounded-md;
}
