.root {
    @apply w-full sm:max-w-64 h-fit flex flex-col gap-2 bg-white rounded-xl p-4;
}

.chainsWrapper {
    @apply flex flex-wrap gap-2;
}

.header {
    @apply mb-2;
}

.row {
    @apply flex
        items-center
        p-3
        gap-3
        rounded-lg;
}

.rowAnimated {
    @apply cursor-pointer
        hover:bg-gray-100
        transition-colors
        ease-in-out
        duration-200;
}

.rowActive {
    @apply bg-gray-200 hover:bg-gray-200;
}

.chainIcon {
    @apply w-5 !h-5 rounded-md;
}
