@reference "../../../app.css";

.root {
    @apply w-full flex flex-col gap-6;
}

.inputs {
    @apply flex gap-4 items-end;
}

.button {
    @apply h-12;
}

.chips {
    @apply flex gap-2 items-center;
}

.input :global(.input) {
    @apply cursor-pointer;
}

.popover {
    @apply border-2;
}
