@reference "../../../app.css";

.root {
    @apply w-full flex flex-col gap-3;
}

.inputsWrapper {
    @apply flex flex-col gap-2;
}

.inputs {
    @apply flex gap-4 items-end;
}

.button {
    @apply h-12;
}

.chips {
    @apply flex gap-2 items-center;
}

.input :global(.input) {
    @apply cursor-pointer sm:w-80;
}

.popover {
    @apply border-2 p-3 pb-2;
}

.toPopoverContent {
    @apply flex flex-col gap-2 items-center;
}
