@reference "../../../app.css";

.root {
    @apply w-full flex flex-col gap-3;
}

.inputsWrapper {
    @apply flex flex-col gap-2;
}

.inputs {
    @apply flex flex-col sm:flex-row gap-4 items-end;
}

.textInputs {
    @apply flex gap-4;
}

.buttons {
    @apply w-full flex flex-col sm:flex-row gap-4;
}

.button {
    @apply w-full sm:w-auto h-12;
}

.errorTextMobile {
    @apply flex sm:hidden;
}

.errorTextDesktop {
    @apply hidden sm:flex;
}

.chips {
    @apply flex gap-2 items-center;
}

.chips.mobile {
    @apply w-full flex sm:hidden;
}

.chips.desktop {
    @apply hidden sm:flex;
}

.input :global(.input) {
    @apply cursor-pointer sm:w-80;
}

.popover {
    @apply border-2 p-3 pb-2;
}

.toPopoverContent {
    @apply flex flex-col gap-2 items-center;
}
