@reference "../../../app.css";

.root {
    @apply sm:h-20
        w-full
        flex
        justify-center
        sm:mb-4;
}

.main {
    @apply sm:relative
        sm:h-20
        flex-wrap
        w-full
        max-w-screen-xl
        px-4
        sm:px-0
        pt-5
        flex
        justify-between
        items-center;
}

.leftContent {
    @apply flex items-center gap-3;
}

.mobileNavigationWrapper {
    @apply sm:hidden
        w-full
        z-20
        h-16
        fixed
        left-0
        -bottom-0.5
        flex
        items-center
        justify-between
        border-t
        stroke-divider
        surface-primary;
}

.mobileNavLink {
    @apply h-full
        w-full
        flex
        gap-1
        items-center
        justify-center
        px-3;
}

.mobileNavLink.active > p {
    @apply text-brand-green-dark dark:text-brand-green;
}

.metromLogo {
    @apply size-12;
}

.tabs {
    @apply flex-wrap
        w-full
        hidden
        md:flex
        sm:w-fit
        flex-row
        gap-2
        mt-3
        sm:mt-0
        justify-center
        sm:absolute
        sm:left-[42%]
        lg:left-1/2
        sm:-translate-x-1/2;
}

.tab {
    @apply flex
        w-fit
        items-center
        gap-2
        h-10
        px-3
        hover:[&>p,&>svg]:text-brand-green-dark
        hover:[&>p,&>svg]:dark:text-brand-green
        relative
        select-none
        cursor-pointer;
}

.tab.disabled {
    @apply cursor-not-allowed;
}

.tab.disabled > p,
.tab.disabled > svg {
    @apply text-secondary;
}

.tab.active > p {
    @apply text-brand-green-dark dark:text-brand-green;
}

.icon {
    @apply size-5 text-primary transition-colors duration-200 ease-in-out;
}

.icon.active {
    @apply text-brand-green-dark dark:text-brand-green;
}

.icon.disabled {
    @apply text-primary;
}

.label {
    @apply transition-colors duration-200 ease-in-out;
}

.claimsBadge {
    @apply flex
        items-center
        justify-center
        absolute
        px-0.5
        h-[1.125rem]
        min-w-[1.125rem]
        bg-brand-green-dark
        dark:bg-brand-green
        rounded-md
        right-4
        top-2.5
        md:-right-1.5
        md:-top-1.5;
}

.claimsBadgeText {
    @apply text-[0.625rem] sm:text-xs text-gray-100 dark:text-neutral-800;
}

.rightContentContainer {
    @apply flex items-center gap-3;
}
