@reference "../../../app.css";

.root {
    @apply sm:h-20
        w-full
        flex
        justify-center
        sm:mb-10;
}

.main {
    @apply sm:relative
        sm:h-20
        flex-wrap
        w-full
        max-w-screen-xl
        px-4
        sm:px-0
        pt-5
        flex
        justify-between
        items-center;
}

.leftContent {
    @apply flex items-center gap-3;
}

.menuIconWrapper {
    @apply md:hidden
        bg-white dark:bg-zinc-800
        rounded-md
        p-1.5
        transition-colors
        duration-200
        ease-in-out;
}

.menuIconWrapper > svg {
    @apply h-7 w-7 text-primary;
}

.mobileNavigationWrapper {
    @apply sm:hidden
        w-full
        z-20
        h-16
        fixed
        left-0
        -bottom-0.5
        flex
        items-center
        justify-between
        border-t
        border-gray-200 dark:border-zinc-600
        surface-primary;
}

.mobileNavLink {
    @apply h-full
        w-full
        flex
        flex-col
        items-center
        justify-center
        px-3;
}

.metromLogo {
    @apply h-10 w-10;
}

.themePicker {
    @apply bg-white dark:bg-zinc-800
        h-10
        px-3
        rounded-md
        flex
        items-center
        justify-center
        cursor-pointer
        surface-primary-hover
        transition-colors
        duration-200
        ease-in-out;
}

.tabs {
    @apply flex-wrap
        w-full
        hidden
        md:flex
        sm:w-fit
        flex-row
        gap-2
        mt-3
        sm:mt-0
        justify-center
        sm:absolute
        sm:left-[42%]
        lg:left-1/2
        sm:-translate-x-1/2;
}

.tab {
    @apply flex
        w-fit
        items-center
        gap-2
        h-10
        px-3
        hover:[&>p,&>svg]:text-brand-green-dark
        hover:[&>p,&>svg]:dark:text-brand-green
        relative
        select-none
        cursor-pointer;
}

.tab.disabled {
    @apply cursor-not-allowed;
}

.tab.disabled > p {
    @apply text-secondary;
}

.tab.active > p {
    @apply text-brand-green-dark dark:text-brand-green;
}

.icon {
    @apply size-5 text-primary transition-colors duration-200 ease-in-out;
}

.icon.active {
    @apply text-brand-green-dark dark:text-brand-green;
}

.icon.disabled {
    @apply text-primary;
}

.label {
    @apply transition-colors duration-200 ease-in-out;
}

.claimsBadge {
    @apply flex
        items-center
        justify-center
        absolute
        px-0.5
        h-5
        min-w-5
        bg-brand-green
        dark:bg-brand-green
        rounded-md
        right-4
        top-auto
        md:-right-1.5
        md:-top-1.5;
}

.claimsBadgeText {
    @apply text-black;
}

.rightContentContainer {
    @apply flex items-center gap-2;
}
