.root {
    @apply sm:h-20
        w-full
        flex
        justify-center
        mb-6
        sm:mb-12;
}

.main {
    @apply sm:relative
        sm:h-20
        flex-wrap
        w-full
        max-w-screen-xl
        px-5
        pt-5
        flex
        justify-between
        items-center;
}

.metromLogo {
    @apply h-10 w-10 dark:text-white;
}

.tabs {
    @apply flex
        flex-wrap
        w-full
        sm:w-fit
        flex-row
        gap-2
        mt-3
        sm:mt-0
        justify-center
        sm:absolute
        sm:left-1/2
        sm:-translate-x-1/2;
}

.tab {
    @apply flex
        w-fit
        items-center
        gap-2
        h-10
        px-3
        select-none
        rounded-md
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out
        hover:bg-gray-200;
}

.tabIcon {
    @apply w-5 h-5;
}

.tabActive {
    @apply bg-white hover:bg-white;
}

.chainStuffContainer {
    @apply flex items-center gap-2;
}
