.root {
    @apply h-20
        w-full
        flex
        justify-center;
}

.header {
    @apply bg-white;
}

.main {
    @apply relative
        h-20
        w-full
        max-w-screen-xl
        px-6
        flex
        justify-between
        items-center;
}

.metromLogo {
    @apply h-8 w-36 dark:text-white;
}

.tabs {
    @apply flex gap-2 absolute left-1/2 -translate-x-1/2;
}

.tab {
    @apply flex
        items-center
        gap-2
        h-10
        px-3
        select-none
        rounded-md
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out
        hover:bg-gray-200;
}

.tabIcon {
    @apply w-5 h-5;
}

.tabActive {
    @apply bg-white hover:bg-white;
}

.chainStuffContainer {
    @apply flex items-center gap-2;
}
