@reference "../../theme.css";

.root {
    @apply w-full
        rounded-lg
        surface-primary;
}

.preview {
    @apply flex
        items-center
        gap-4
        w-full
        p-4
        select-none
        cursor-pointer
        rounded-lg
        surface-primary-hover
        transition-all
        duration-200
        ease-in-out;
}

.preview.open {
    @apply rounded-b-none;
}

.icon {
    @apply w-4 h-4 stroke-2 transition-transform text-primary;
}

.icon.open {
    @apply rotate-180;
}

.content {
    @apply w-full rounded-b-lg overflow-hidden;
}
