.root {
    @apply w-full flex flex-col bg-white rounded-2xl;
}

.preview {
    @apply flex
        items-center
        gap-4
        w-full
        p-4
        select-none
        cursor-pointer
        rounded-2xl
        transition-colors
        duration-200
        ease-in-out
        hover:bg-gray-200;
}

.preview.open {
    @apply rounded-b-none;
}

.icon {
    @apply w-4 h-4 stroke-2;
}

.icon.open {
    @apply rotate-180;
}

.content {
    @apply w-full rounded-b-2xl;
}
