specVersion: 1.0.0
indexerHints:
  prune: never
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: Vault
    network: {{network}}
    source:
      abi: Vault
      address: "{{vaultAddress}}"
      startBlock: {{vaultStartBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/vault.ts
      entities: []
      abis:
        - name: Vault
          file: ./abis/Vault.json
        - name: Erc20
          file: ./abis/Erc20.json
        - name: Erc20BytesName
          file: ./abis/Erc20BytesName.json
        - name: Erc20BytesSymbol
          file: ./abis/Erc20BytesSymbol.json
      eventHandlers:
        - event: IncreasePoolAmount(address,uint256)
          handler: handleIncreasePoolAmount
        - event: DecreasePoolAmount(address,uint256)
          handler: handleDecreasePoolAmount
        - event: IncreaseUsdgAmount(address,uint256)
          handler: handleIncreaseUsdgAmount
        - event: DecreaseUsdgAmount(address,uint256)
          handler: handleDecreaseUsdgAmount
  - kind: ethereum
    name: RewardRouterV2
    network: {{network}}
    source:
      abi: RewardRouterV2
      address: "{{rewardRouterV2Address}}"
      startBlock: {{rewardRouterV2StartBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/reward-router-v2.ts
      entities: []
      abis:
        - name: RewardRouterV2
          file: ./abis/RewardRouterV2.json
      callHandlers:
        - function: acceptTransfer(address)
          handler: handleAcceptTransfer
  - kind: ethereum
    name: ALP
    network: {{network}}
    source:
      abi: Erc20
      address: "{{alpAddress}}"
      startBlock: {{alpStartBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/alp.ts
      entities: []
      abis:
        - name: Erc20
          file: ./abis/Erc20.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
  {{#tokenizedVaults}}
  - kind: ethereum/contract
    name: YieldBearingALPVault
    network: {{network}}
    source:
      abi: YieldBearingALPVault
      address: "{{address}}"
      startBlock: {{startBlock}}
    context:
      collateral:
        type: Bytes
        data: "{{collateral}}"
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/tokenized-vault.ts
      entities: []
      abis:
        - name: YieldBearingALPVault
          file: ./abis/YieldBearingALPVault.json
        - name: GlpManager
          file: ./abis/GlpManager.json
      eventHandlers:
        - event: Deposit(indexed address,indexed address,uint256,uint256)
          handler: handleDeposit
        - event: Withdraw(indexed address,indexed address,indexed address,uint256,uint256)
          handler: handleWithdraw
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
  {{/tokenizedVaults}}
