@reference "../../../../../app.css";

.root {
    @apply rounded-3xl cursor-pointer
        outline-none
        hover:opacity-85
        stroke-gray-200
        dark:stroke-neutral-900
        transition-all
        duration-200
        ease-in-out;
}

.root.distributed {
    @apply fill-brand-green-dark dark:fill-brand-green;
}

.root.reimbursed {
    @apply fill-gray-300 dark:fill-neutral-700;
}
