@reference "../../app.css";

.root {
    @apply w-full flex flex-col gap-4;
}

.titleContainer {
    @apply flex gap-1 items-center;
}

.titleContainer.spaced {
    @apply justify-between;
}

.leftTitleContent {
    @apply flex flex-col sm:flex-row gap-1 items-center;
}

.distributionsLink {
    @apply flex items-center gap-1 justify-self-end;
}

.distributionsLink > svg {
    @apply size-5;
}

.distributionsLink > svg > path {
    @apply stroke-2;
}

.subtitleContainer {
    @apply flex items-center gap-1;
}

.cardsWrapper {
    @apply flex flex-col sm:flex-row justify-between gap-4;
}

.cardsWrapper > :first-child {
    @apply flex-[2];
}

.cardsWrapper > :last-child {
    @apply flex-[1];
}

.leaderboardWrapper {
    @apply w-full flex flex-col gap-4;
}

.leaderboardWrapper.noDistribution {
    @apply items-center
        justify-center
        gap-2
        transition-colors
        duration-200
        ease-in-out;
}

.noDistribution {
    @apply min-h-[23.438rem] flex flex-col items-center justify-center bg-gray-100 dark:bg-neutral-800;
}

.tableWrapper {
    @apply flex flex-col p-0 bg-gray-100 dark:bg-neutral-800;
}

.header {
    @apply grid grid-cols-[0.8fr_1fr_0.9fr] md:grid-cols-3 px-3 sm:px-5 py-3 sm:py-[1.313rem];
}

.header > :last-child {
    @apply justify-self-end;
}

.row {
    @apply w-full
        grid
        grid-cols-[0.8fr_1fr_0.9fr]
        md:grid-cols-3
        items-center
        sm:items-center
        px-3
        py-2
        sm:px-5
        sm:py-4;
}

.row:not(:last-child) {
    @apply border-b border-gray-150 dark:border-neutral-700;
}

.row > :first-child {
    @apply flex flex-col sm:flex-row sm:items-center sm:gap-4;
}

.row > :last-child {
    @apply flex items-center gap-4 justify-self-end;
}

.row:last-child {
    @apply rounded-b-lg;
}

.row.connected {
    @apply bg-gray-200 dark:bg-neutral-700;
}

.accountWrapper {
    @apply flex items-center gap-1;
}

.externalLinkIcon {
    @apply h-4 w-4 transform -rotate-45 text-black dark:text-zinc-200;
}

.skeleton :global(.skeleton) {
    @apply bg-gray-200 dark:bg-neutral-700;
}
