@reference "../../app.css";

.root {
    @apply flex items-center;
}

.wrapper {
    @apply flex items-center gap-3;
}

.connectButton {
    @apply h-9;
}

.walletWrapper {
    @apply sm:px-2
        h-9
        min-w-9
        rounded-lg
        flex
        items-center
        sm:justify-between
        justify-center
        cursor-pointer
        bg-gray-50
        dark:bg-neutral-800
        hover:bg-gray-150
        hover:dark:bg-neutral-700
        transition-colors
        duration-200
        ease-in-out;
}

.account {
    @apply sm:w-full flex gap-2 items-center justify-between;
}

.displayName {
    @apply hidden sm:flex;
}
