@reference "../../app.css";

.root {
    @apply flex items-center;
}

.connectButton {
    @apply h-10 rounded-lg;
}

.wrapper {
    @apply flex items-center gap-3;
}

.networkWrapper {
    @apply bg-white dark:bg-zinc-800
        w-10
        h-10
        rounded-md
        flex
        gap-3
        items-center
        justify-center
        cursor-pointer
        hover:bg-zinc-200 hover:dark:bg-zinc-700
        transition-colors
        duration-200
        ease-in-out;
}

.wrongNetwork {
    @apply bg-red-300;
}

.networkIcon {
    @apply w-5 h-5 transition-none text-black dark:text-zinc-200;
}

.networkRow {
    @apply h-9
        flex
        items-center
        px-3
        gap-2
        cursor-pointer
        hover:bg-zinc-200 hover:dark:bg-zinc-600
        transition-colors
        duration-200
        ease-in-out;
}

.activeNetwork {
    @apply bg-zinc-200 dark:bg-zinc-600;
}

.networksWrapper {
    @apply flex flex-col;
}

.networksWrapper > :first-child {
    @apply rounded-t-xl;
}

.networksWrapper > :last-child {
    @apply rounded-b-xl;
}

.overlay {
    @apply z-20
        fixed
        top-0
        bottom-0
        left-0
        right-0
        bg-black dark:bg-zinc-200
        opacity-0
        pointer-events-none
        transition-opacity
        ease-in-out
        duration-200;
}

.overlayOpen {
    @apply opacity-30 pointer-events-auto;
}

.accountMenuHorizontal {
    @apply hidden
        sm:flex
        z-20
        fixed
        top-0
        bottom-0
        -right-[28rem];
}

.accountMenuVertical {
    @apply sm:hidden
        flex
        z-20
        h-4/5
        fixed
        left-0
        w-full
        -bottom-[28rem];
}

.walletWrapper {
    @apply bg-white dark:bg-zinc-800
        sm:px-2
        h-10
        min-w-10
        rounded-md
        flex
        items-center
        sm:justify-between
        justify-center
        cursor-pointer
        hover:bg-zinc-200 hover:dark:bg-zinc-700
        transition-colors
        duration-200
        ease-in-out;
}

.account {
    @apply flex gap-2 items-center justify-between;
}

.displayName {
    @apply hidden sm:flex;
}

.avatar {
    @apply w-7 h-7 rounded-md;
}

.icon {
    @apply w-5 h-5;
}
