specVersion: 1.0.0
indexerHints:
  prune: never
schema:
  file: ./schema.graphql
{{#grafting}}
features:
  - grafting
graft:
  base: {{base}}
  block: {{block}} 
{{/grafting}}
dataSources:
  - kind: ethereum
    name: Pool
    network: {{network}}
    source:
      address: "{{PoolAddress}}"
      startBlock: {{PoolStartBlock}}
      abi: Pool
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      file: ./src/mappings/pool.ts
      entities: []
      abis:
        - name: Pool
          file: ./abis/Pool.json
        - name: Erc20
          file: ./abis/Erc20.json
        - name: Erc20BytesName
          file: ./abis/Erc20BytesName.json
        - name: Erc20BytesSymbol
          file: ./abis/Erc20BytesSymbol.json
      eventHandlers:
        - event: TokenExchange(indexed address,int128,uint256,int128,uint256)
          handler: handleTokenExchange
        - event: AddLiquidity(indexed address,uint256[],uint256[],uint256,uint256)
          handler: handleAddLiquidity
        - event: RemoveLiquidity(indexed address,uint256[],uint256[],uint256)
          handler: handleRemoveLiquidity
        - event: RemoveLiquidityOne(indexed address,int128,uint256,uint256,uint256)
          handler: handleRemoveLiquidityOne
        - event: RemoveLiquidityImbalance(indexed address,uint256[],uint256[],uint256,uint256)
          handler: handleRemoveLiquidityImbalance
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
