@reference "../../../../../../app.css";

.root {
    @apply w-full
        flex
        gap-8
        items-center
        snap-start
        p-4
        rounded-2xl
        select-none
        transition-colors
        duration-200
        ease-in-out;
}

.selected {
    @apply bg-gray-200;
}

.checkbox {
    @apply w-6
        h-6
        appearance-none
        rounded-md
        border
        relative
        bg-transparent
        border-gray-300
        checked:bg-white
        checked:border-black
        checked:before:content-['✔']
        text-black
        cursor-pointer
        focus:ring-0
        focus:outline-none
        checked:before:absolute
        checked:before:text-sm
        checked:before:top-1/2
        checked:before:left-1/2
        checked:before:-translate-x-1/2
        checked:before:-translate-y-1/2
        transition-all
        duration-200
        ease-in-out;
}

.collateralName {
    @apply flex items-center gap-3;
}
