@reference "../../app.css";

.icon.xs,
.icon.xs > svg {
    @apply size-3.5 sm:size-4;
}

.icon.sm,
.icon.sm > svg {
    @apply size-4 sm:size-5;
}

.icon.base,
.icon.base > svg {
    @apply size-5 sm:size-7;
}

.icon.lg,
.icon.lg > svg {
    @apply size-6 sm:size-9;
}

.icon.xl,
.icon.xl > svg {
    @apply size-8 sm:size-11;
}
