@reference "../../app.css";

.root {
    @apply h-full
        flex
        flex-col
        rounded-2xl
        transition-colors
        duration-200
        ease-in-out;
}

.emptyContainer {
    @apply w-full
        h-full
        min-h-[320px]
        flex
        flex-col
        gap-2
        justify-center
        items-center
        rounded-2xl;
}

.emptyContainerLoading {
    @apply justify-end;
}

.barsContainer {
    @apply w-full flex justify-around gap-1;
}

.skeletonBar {
    @apply h-72 w-full max-w-4 rounded-t-md;
}

.errorText {
    @apply flex-col;
}

.loading {
    @apply bg-zinc-200 dark:bg-zinc-900 animate-pulse;
}

.container {
    @apply h-full min-h-80;
}

.header {
    @apply flex items-center justify-end rounded-md;
}

.zoomButtons {
    @apply flex items-center gap-1;
}

.zoomButtons {
    @apply flex items-center gap-1;
}

.zoomButton {
    @apply w-8 h-8 rounded-md surface-primary surface-primary-hover dark:hover:bg-zinc-750;
}

.zoomButtons > svg {
    @apply w-5
        h-5
        hover:text-zinc-400
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}
