@reference "../../../app.css";

.label {
    @apply font-sans
        uppercase
        text-xs
        leading-none
        font-medium
        fill-light-text-primary
        dark:fill-dark-text-primary;
}

.bar {
    @apply chart-area-secondary;
}

.bar.inRange {
    @apply fill-[#6CFF9566] dark:fill-brand-green/65;
}

.bar.activeTick {
    @apply fill-brand-green-dark dark:fill-brand-green;
}
