@reference "../../../app.css";

.root {
    @apply w-full;
}

.modal {
    @apply h-auto
        flex
        flex-col
        sm:min-w-[360px]
        bg-zinc-100 dark:bg-dark-background-main
        overflow-hidden
        m-5
        gap-2
        p-3
        rounded-4xl;
}

.title {
    @apply w-full flex justify-center mb-2;
}

.walletItem {
    @apply flex items-center justify-between rounded-md;
}

.walletButton {
    @apply w-full
        flex
        items-center
        justify-between
        h-9
        p-3
        rounded-lg
        surface-primary
        surface-primary-hover
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.leftContent {
    @apply flex items-center gap-3;
}

.walletIcon {
    @apply w-10 h-10;
}
