@reference "../../app.css";

.networkWrapper {
    @apply h-8
        p-2
        rounded-md
        flex
        items-center
        gap-2
        border-2
        border-transparent
        cursor-pointer
        transition-colors
        bg-gray-50
        dark:bg-neutral-800
        hover:bg-gray-150
        hover:dark:bg-neutral-700
        duration-200
        ease-in-out;
}

.networkWrapper.open {
    @apply border-gray-300 dark:border-neutral-600;
}

.active {
    @apply bg-gray-50 dark:bg-neutral-700;
}

.wrong {
    @apply bg-error;
}

.icon {
    @apply size-5 text-primary;
}

.errorIcon {
    @apply size-5 text-gray-50 dark:text-neutral-100;
}

.externalLinkIcon {
    @apply size-4 transform -rotate-45 text-primary;
}
