.root {
    @apply flex
        flex-col
        gap-2
        p-2
        rounded-lg
        bg-white
        border
        border-gray-200;
}

.fieldWrapper {
    @apply flex items-center justify-between;
}

.textWrapper {
    @apply flex items-center gap-1;
}

.legendDot {
    @apply h-3 w-3 rounded-full;
}

.legendDot.reimbursed {
    @apply bg-[#D1D5DB];
}

.legendDot.distributed {
    @apply bg-[#6CFF95];
}

.breakdownWrapper {
    @apply mt-3;
}

.row {
    @apply grid grid-cols-3 gap-3 items-center;
}

.row > :first-child {
    @apply justify-self-start;
}

.row > :nth-child(2) {
    @apply justify-self-center;
}

.row > :last-child {
    @apply justify-self-end;
}

.tokenWrapper {
    @apply flex items-center gap-2;
}
