@reference "../../../../../app.css";

.root {
    @apply flex
        flex-col
        gap-2
        p-2
        rounded-md
        border
        bg-gray-100
        dark:bg-neutral-950
        border-gray-300
        dark:border-neutral-600;
}

.fieldWrapper {
    @apply flex items-center justify-between;
}

.textWrapper {
    @apply flex items-center gap-1;
}

.legendDot {
    @apply size-3 rounded-full;
}

.legendDot.reimbursed {
    @apply bg-gray-200 dark:bg-neutral-800;
}

.legendDot.distributed {
    @apply bg-brand-green-dark dark:bg-brand-green;
}

.breakdownWrapper {
    @apply mt-3;
}

.row {
    @apply grid grid-cols-3 gap-3 items-center;
}

.row > :first-child {
    @apply justify-self-start;
}

.row > :nth-child(2) {
    @apply justify-self-center;
}

.row > :last-child {
    @apply justify-self-end;
}

.tokenWrapper {
    @apply flex items-center gap-2;
}
