@reference "../../../../../app.css";

.root {
    @apply flex
        flex-col
        gap-2
        p-3
        min-w-60
        rounded-lg
        border
        bg-gray-100
        dark:bg-neutral-950
        border-gray-300
        dark:border-neutral-600;
}

.fieldWrapper {
    @apply flex items-center justify-between;
}

.textWrapper {
    @apply flex items-center gap-1;
}

.legendDot {
    @apply size-2 rounded-full;
}

.legendDot.reimbursed {
    @apply bg-gray-300 dark:bg-neutral-700;
}

.legendDot.distributed {
    @apply bg-brand-green-dark dark:bg-brand-green;
}

.percentageChip {
    @apply px-1 py-0.5 rounded-sm bg-gray-200 dark:bg-neutral-700;
}

.divider {
    @apply border stroke-divider my-1.5;
}

.header {
    @apply grid grid-cols-[1.2fr_0.7fr_0.7fr] gap-3 items-center px-2;
}

.row {
    @apply grid grid-cols-[1.2fr_0.7fr_0.7fr] gap-3 items-center bg-gray-150 dark:bg-neutral-900 rounded-sm px-2 py-1;
}

.row > :first-child,
.header > :first-child {
    @apply justify-self-start;
}

.row > :nth-child(2),
.header > :nth-child(2) {
    @apply justify-self-end;
}

.row > :last-child,
.header > :last-child {
    @apply justify-self-end;
}

.tokenWrapper {
    @apply flex items-center gap-2;
}
