.root {
    @apply flex
        flex-col
        gap-2
        p-2
        rounded-lg
        bg-white
        border
        border-gray-200;
}

.row {
    @apply flex justify-between gap-2 items-center;
}
