@reference "../../../../app.css";

.previewLabelWrapper {
    @apply w-full flex justify-between items-center;
}

.previewTextWrapper {
    @apply flex items-center gap-2;
}

.previewLabel {
    font-size: inherit;
    color: inherit;
}

.tvlWrapper {
    @apply w-full flex gap-1;
}

.stepContent {
    @apply flex flex-col gap-3 p-4;
}

.applyButton {
    @apply w-full;
}

.simulationTitleWrapper {
    @apply flex flex-col gap-1.5;
}

.simulationText {
    @apply dark:text-zinc-200;
}

.chartWrapper {
    @apply flex flex-col rounded-md;
}

.boldText {
    @apply text-black dark:text-white font-bold;
}
