@reference "../../../../app.css";

.previewLabelWrapper {
    @apply w-full flex justify-between items-center;
}

.previewTextWrapper {
    @apply flex items-center gap-2;
}

.previewLabel {
    @apply !text-inherit;
}

.step {
    @apply hover:border-transparent;
}

.previewDisabled {
    @apply hover:cursor-default hover:bg-white;
}

.tvlWrapper {
    @apply flex gap-1;
}

.error {
    @apply transition-opacity duration-200 ease-in-out opacity-0;
}

.errorVisible {
    @apply opacity-100;
}

.stepContent {
    @apply flex flex-col gap-3 p-4;
}

.applyButton {
    @apply w-full;
}

.simulationTitleWrapper {
    @apply flex flex-col gap-1.5;
}

.chartWrapper {
    @apply flex flex-col;
}
