@reference "../../../../../app.css";

.root {
    @apply max-h-[22.5rem]
        h-full
        w-full
        overflow-hidden;
}

.listHeader {
    @apply flex
        justify-between
        items-center
        py-1
        px-4;
}

.emptyList {
    @apply flex justify-center py-4;
}
