@reference "../../../../../app.css";

.root {
    @apply h-full w-full flex flex-col;
}

.wrapper {
    @apply flex flex-col gap-2.5 px-4 pb-4;
}

.horizontalDivider {
    @apply h-[1px] border stroke-divider;
}

.totalValueWrapper {
    @apply flex items-center gap-3;
}

.rewardPickerWrapper {
    @apply flex items-end justify-between;
}

.rewardTokenAmountInput :global(.input),
.rewardTokenAmountInput :global(.inputWrapper) {
    @apply w-full
        max-w-52
        border-none
        bg-transparent
        h-7
        leading-6
        font-medium
        px-0
        text-[1.75rem]
        rounded-none;
}

.rewardTokenSymbol {
    @apply text-nowrap;
}

.chevronDown {
    @apply h-3 w-3;
}

.addRewardButton {
    @apply w-full;
}

.rewardTokenSelect {
    @apply w-fit
        max-w-40
        flex
        gap-1
        items-center
        justify-between
        rounded-md
        pl-2.5
        pr-1
        py-1.5
        border
        border-gray-300
        dark:border-neutral-600
        transition-colors
        duration-200
        ease-in-out
        hover:cursor-pointer
        surface-primary-hover;
}
