@reference "../../../../app.css";

.root {
    @apply w-full flex flex-col items-center gap-2 text-center;
}

.root:hover:not(.disabled) {
    @apply [&>.iconWrapper]:bg-white
        dark:[&>.iconWrapper]:bg-zinc-700
        [&>.label]:text-black
        dark:[&>.label]:text-white
        [&>.iconWrapper>.icon]:text-black
        dark:[&>.iconWrapper>.icon]:text-white;
}

.iconWrapper {
    @apply relative flex items-center justify-center w-11 h-11 rounded-lg dark:bg-dark-surface bg-zinc-200 transition-colors duration-200 ease-in-out;
}

.iconWrapper.active {
    @apply dark:bg-zinc-700 bg-white;
}

.disabled {
    @apply cursor-not-allowed;
}

.icon {
    @apply w-5 h-5 text-black dark:text-white transition-colors duration-200 ease-in-out;
}

.icon:not(.active) {
    @apply text-zinc-500 dark:text-[#9CA3AF];
}

.label {
    @apply transition-colors duration-200 ease-in-out dark:text-white;
}

.label:not(.active) {
    @apply text-zinc-500 dark:text-[#9CA3AF];
}

.popover {
    @apply p-2;
}

.claimsBadge {
    @apply flex
        items-center
        justify-center
        absolute
        px-0.5
        h-5
        min-w-5
        bg-brand-green
        rounded-md
        right-4
        top-auto
        sm:-right-1.5
        sm:-top-1.5;
}

.claimsBadgeText {
    @apply text-black;
}
