@reference "../../../../app.css";

.root {
    @apply w-full flex flex-col items-center gap-2 text-center;
}

.root:hover {
    @apply [&>.iconWrapper]:bg-zinc-200 dark:[&>.iconWrapper]:bg-zinc-700;
}

.iconWrapper {
    @apply relative flex items-center justify-center w-11 h-11 rounded-lg theme-surface theme-surface-hover transition-colors duration-200 ease-in-out;
}

.iconWrapper.active {
    @apply theme-surface-active;
}

.iconWrapper.disabled {
    @apply cursor-not-allowed hover:bg-transparent;
}

.icon {
    @apply w-5 h-5 text-black dark:text-zinc-200;
}

.popover {
    @apply p-2;
}

.claimsBadge {
    @apply flex
        items-center
        justify-center
        absolute
        px-0.5
        h-5
        min-w-5
        bg-brand-green
        rounded-md
        right-4
        top-auto
        sm:-right-1.5
        sm:-top-1.5;
}

.claimsBadgeText {
    @apply text-black;
}
