@reference "../../../app.css";

.root {
    @apply flex flex-col gap-4;
}

.card {
    @apply w-full flex flex-col sm:max-w-3/5 p-3 sm:p-5 bg-gray-100 dark:bg-neutral-800;
}

.chartWrapper {
    @apply w-full flex-1 mt-4;
}
