@reference "../../theme.css";

.root {
    @apply flex w-fit;
}

.popover {
    @apply max-w-64 md:max-w-[450px];
}

.iconWrapper {
    @apply cursor-pointer;
}

.icon {
    @apply text-primary h-4 w-4;
}
