@reference "../../theme.css";

.root {
    @apply w-fit;
}

.popover {
    @apply max-w-64 md:max-w-[450px];
}

.content {
    @apply p-2;
}

.iconWrapper {
    @apply cursor-pointer;
}

.icon {
    @apply text-primary h-4 w-4;
}
