@reference "../../../../../app.css";

.root {
    @apply flex
        flex-col
        p-4
        gap-1
        w-full
        overflow-hidden;
}

.listHeader {
    @apply flex justify-between items-center mb-1;
}

.empty {
    @apply flex justify-center pt-4;
}
