.root {
    @apply flex items-center gap-1;
}

.icon {
    @apply w-3.5 h-3.5;
}

.icon.error {
    @apply text-red-600;
}

.icon.warning {
    @apply text-yellow-600;
}

.text.error {
    @apply !text-red-600;
}

.text.warning {
    @apply !text-yellow-600;
}

.xs {
    @apply w-3 h-3;
}

.sm,
.base {
    @apply w-4 h-4;
}

.lg,
.xl,
.xl2 {
    @apply w-5 h-5;
}

.xl4,
.xl5 {
    @apply w-7 h-7;
}
