@reference "../../../app.css";

.rewardsPopover {
    @apply flex flex-col gap-2;
}

.rewardsPopoverRow {
    @apply grid grid-cols-3 gap-3 items-center;
}

.rewardsPopoverRow > :first-child {
    @apply flex justify-self-start items-center gap-2;
}

.rewardsPopoverRow > :nth-child(2) {
    @apply justify-self-center;
}

.rewardsPopoverRow > :last-child {
    @apply justify-self-end;
}

.rankWrapper {
    @apply cursor-pointer;
}
