@reference "../../../app.css";

.popover {
    @apply flex flex-col gap-2;
}

.header {
    @apply flex items-center justify-between gap-3 px-2;
}

.row {
    @apply flex items-center gap-6 justify-between bg-gray-150 dark:bg-neutral-900 rounded-sm px-2 py-1;
}

.row > div {
    @apply flex items-center gap-2;
}

.rankWrapper {
    @apply cursor-pointer;
}
