@reference "../../app.css";

.root {
    @apply w-full h-[60px] bg-white dark:bg-zinc-800;
}

.active {
    @apply bg-zinc-100 dark:bg-zinc-700;
}

.loading {
    @apply animate-pulse;
}

.icon {
    @apply h-6 w-6 dark:text-zinc-200;
}

.themeWrapper {
    @apply bg-white dark:bg-zinc-800
        w-10
        h-10
        rounded-md
        flex
        gap-3
        items-center
        justify-center
        cursor-pointer
        surface-primary-hover
        transition-colors
        duration-200
        ease-in-out;
}
