@reference "../../theme.css";

.root {
    @apply flex
        justify-center
        surface-secondary
        rounded-[2.813rem]
        select-none
        transition-colors
        duration-200
        ease-in-out;
}

.sm {
    @apply px-2 py-2;
}

.xs {
    @apply px-1.5 py-1.5;
}

.rootClickable {
    @apply cursor-pointer surface-secondary-hover;
}

.rootActive {
    @apply theme-surface-2-active;
}
