.root {
    @apply flex
        justify-center
        bg-gray-100
        rounded-[2.813rem]
        select-none
        transition-colors
        duration-200
        ease-in-out;
}

.sm {
    @apply px-2 py-2;
}

.xs {
    @apply px-1.5 py-1.5;
}

.rootClickable {
    @apply cursor-pointer hover:bg-gray-200;
}

.rootActive {
    @apply bg-gray-200;
}
