@reference "../../theme.css";

.root {
    @apply flex
        justify-center
        items-center
        bg-transparent
        rounded-[6.25rem]
        select-none
        border-gray-300
        dark:border-neutral-600
        transition-colors
        duration-200
        ease-in-out;
}

.root.active:hover {
    @apply bg-brand-green-dark dark:bg-brand-green;
}

.root.xs {
    @apply border px-2 py-1 gap-1;
}

.root.sm {
    @apply border-2 px-3 py-1.5 gap-2;
}

.clickable {
    @apply cursor-pointer hover:bg-gray-500/[8%] hover:dark:bg-neutral-100/[8%];
}

.active {
    @apply bg-brand-green-dark dark:bg-brand-green;
}

.active > p,
.active > svg {
    @apply text-gray-100 dark:text-neutral-900;
}

.icon {
    @apply cursor-pointer text-primary;
}

.icon.xs {
    @apply size-2;
}

.icon.sm {
    @apply size-2.5;
}
