@reference "../../app.css";

.root {
    @apply w-full h-[60px] bg-white dark:bg-zinc-800;
}

.root.popover {
    @apply rounded-xl flex gap-2;
}

.tab.popover {
    @apply rounded-lg max-h-11 min-h-11;
}

.tab {
    @apply w-full
        min-h-12
        bg-white
        dark:bg-zinc-800
        opacity-100
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.tab.popover {
    @apply surface-primary-hover;
}

.tab:not(.popover):first-child {
    @apply rounded-r-none;
}

.tab:not(.popover):nth-child(2) {
    @apply rounded-r-none rounded-l-none;
}

.tab:not(.popover):last-child {
    @apply rounded-l-none;
}

.active {
    @apply bg-zinc-200 dark:bg-zinc-700;
}

.loading {
    @apply animate-pulse;
}

.icon {
    @apply h-5 w-5 dark:text-zinc-200;
}
