@reference "../../../../app.css";

.dexPreview {
    @apply flex gap-2 items-center;
}

.dexWrapper {
    @apply flex
        flex-col
        max-h-96
        overflow-y-auto
        scroll-pt-0.5
        snap-y;
}

.dexRow {
    @apply flex
        gap-2
        items-center
        p-4
        select-none
        snap-start
        transition-colors
        duration-200
        ease-in-out
        hover:cursor-pointer
        surface-primary-hover;
}

.dexRowSelected {
    @apply bg-gray-150 dark:bg-neutral-800;
}

.dexRow > * {
    @apply pointer-events-none;
}

.logo,
.logo > svg {
    @apply w-6 h-6;
}
