@reference "../../../../app.css";

.dexPreview {
    @apply flex gap-2 items-center;
}

.dexWrapper {
    @apply max-h-96
        overflow-y-auto
        scroll-pt-0.5
        snap-y;
}

.dexRow {
    @apply flex
        gap-2
        items-center
        px-4
        py-5
        select-none
        snap-start
        transition-colors
        duration-200
        ease-in-out
        hover:cursor-pointer
        hover:bg-gray-200 hover:dark:bg-slate-200;
}

.dexRowSelected {
    @apply bg-gray-200;
}

.dexRow > * {
    @apply pointer-events-none;
}

.logo,
.logo > svg {
    @apply w-6 h-6;
}
