@reference "../../../app.css";

.root {
    @apply flex
        flex-col
        gap-2
        p-2
        rounded-md
        border
        bg-gray-100
        dark:bg-neutral-950
        border-gray-300
        dark:border-neutral-600;
}

.row {
    @apply flex gap-3 items-center;
}

.tokenWrapper {
    @apply flex items-center gap-2;
}
