@reference "../../../../app.css";

.content {
    @apply flex flex-col gap-3;
}

.header {
    @apply px-2;
}

.rows {
    @apply flex flex-col gap-1;
}

.tokenRow {
    @apply flex items-center gap-6 justify-between bg-gray-150 dark:bg-neutral-900 rounded-sm px-2 py-1;
}

.tokenRow > div {
    @apply flex items-center gap-2;
}

.tokenWrapper {
    @apply flex items-center gap-2;
}

.mainText {
    @apply text-[1.75rem] cursor-pointer;
}
