@reference "../../theme.css";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.root {
    @apply flex flex-col gap-1;
}

.wrapper {
    @apply flex items-center;
}

.wrapper fieldset {
    @apply rounded-r-none rounded-l-none border-r-0 border-l-0;
}

.wrapper:not(.error):focus-within fieldset {
    @apply border-gray-500 dark:border-neutral-400;
}

.wrapper:not(.error):focus-within .stepButton {
    @apply border-gray-500 dark:border-neutral-400;
}

.wrapper.error .stepButton {
    @apply border-error;
}

.stepButton {
    @apply border
        border-gray-300
        dark:border-neutral-700
        bg-gray-300
        dark:bg-neutral-700
        hover:bg-gray-300
        dark:hover:bg-neutral-700;
}

.stepButton.disabled {
    @apply bg-gray-300 dark:bg-neutral-700;
}

.stepButton.xs {
    @apply size-7;
}

.stepButton.sm {
    @apply size-8;
}

.stepButton.base {
    @apply size-9;
}

.stepButton.lg {
    @apply size-11;
}

.stepButtonIcon {
    @apply size-5! text-primary;
}

.stepDownButton {
    @apply rounded-r-none! border-r-0;
}

.stepUpButton {
    @apply rounded-l-none! border-l-0;
}

.hiddenInput {
    @apply hidden;
}
