@reference "../../theme.css";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.wrapper {
    @apply relative flex items-center;
}

/* TODO: to be based on size */
.stepButton {
    @apply w-8
        h-8
        rounded-md
        theme-surface
        theme-surface-hover
        dark:hover:bg-zinc-750;
}

.icon {
    @apply theme-text dark:text-zinc-200;
}

.stepDownButton {
    @apply absolute left-2;
}

.stepUpButton {
    @apply absolute right-2;
}

.wrapper input {
    @apply pl-12;
}

.wrapper input {
    @apply pr-12;
}

.hiddenInput {
    @apply hidden;
}
