@reference "../../theme.css";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.wrapper {
    @apply relative flex items-center;
}

.stepButton {
    @apply bg-gray-300 dark:bg-neutral-700 hover:bg-gray-300 dark:hover:bg-neutral-700;
}

.stepButton.xs {
    @apply size-7;
}

.stepButton.sm {
    @apply size-8;
}

.stepButton.base {
    @apply size-9;
}

.stepButton.lg {
    @apply size-11;
}

.stepButtonIcon {
    @apply size-5! text-primary;
}

.stepDownButton {
    @apply absolute left-0.5;
}

.stepUpButton {
    @apply absolute right-0.5;
}

.wrapper.xs input {
    @apply pl-10!;
}
.wrapper.xs input {
    @apply pr-10!;
}

.wrapper.sm input {
    @apply pl-11!;
}
.wrapper.sm input {
    @apply pr-11!;
}

.wrapper.base input {
    @apply pl-12!;
}
.wrapper.base input {
    @apply pr-12!;
}

.wrapper.lg input {
    @apply pl-14!;
}
.wrapper.lg input {
    @apply pr-14!;
}

.hiddenInput {
    @apply hidden;
}
