@reference "../../app.css";

.root {
    @apply w-full max-w-screen-lg flex flex-col items-center px-4 sm:px-0 gap-4 md:gap-8;
}

.headerWrapper {
    @apply flex flex-col items-center w-full max-w-screen-lg gap-10;
}

.contentWrapper {
    @apply w-full max-w-screen-lg flex flex-col gap-8;
}

.details {
    @apply flex flex-wrap sm:flex-nowrap justify-between gap-4;
}

.dealsWrapper {
    @apply w-full flex flex-col gap-4;
}

.dealsWrapper > div:not(.skeletonDeals) {
    @apply background-main;
}

.dealsWrapper > div > div {
    @apply p-0 border-none;
}

.dealsWrapper > div > div > div:first-child:not(.skeletonDeal) {
    @apply hidden;
}

.skeletonDeals {
    @apply flex flex-col gap-4 rounded-2xl p-3 surface-primary;
}

.skeletonDealHeader {
    @apply h-[19px] w-full rounded-xl surface-secondary animate-pulse;
}

.skeletonDealsWrapper {
    @apply w-full flex gap-2 flex-wrap;
}

.skeletonDeal {
    @apply w-full sm:w-[327px] h-[350px] rounded-xl surface-secondary animate-pulse;
}
