@reference "../../../app.css";

.root {
    @apply max-w-screen-xl w-full flex-col flex sm:gap-3 pb-0 pt-4 px-3 sm:pb-5;
}

.filterInput,
.filterInput :global(.input) {
    @apply sm:w-48;
}

.filterInput.desktop {
    @apply w-0 sm:w-48;
}

.inputs {
    @apply invisible absolute sm:visible sm:relative sm:flex justify-between items-center gap-3;
}

.chips {
    @apply hidden sm:flex flex-wrap gap-2.5;
}

.chip {
    @apply h-9;
}

.lastFilterWrapper {
    @apply w-full flex justify-between items-end gap-3;
}

.clearButton {
    @apply min-w-24 h-[2.75rem] opacity-0 transition-opacity duration-200 ease-in-out pointer-events-none;
}

.clearButton.visible {
    @apply opacity-100 pointer-events-auto;
}

.customOptionContainer {
    @apply flex gap-1.5 items-center;
}

.statusLabel {
    @apply text-primary transition-colors duration-200 ease-in-out;
}

.statusLabel.active {
    @apply text-gray-100 dark:text-neutral-900;
}

.statusDotLiveActive {
    @apply bg-neutral-900/[28%]!;
}

.statusDotLiveActive :global(.dot) {
    @apply bg-neutral-900;
}

.icon {
    @apply size-5;
}

.selectOptionText {
    @apply truncate;
}
