@reference "../../../app.css";

.root {
    @apply max-w-screen-xl w-full sm:items-end flex-col sm:flex-row flex gap-3 p-5;
}

.searchFilter :global(.label) {
    @apply invisible sm:visible;
}

.filterInput,
.filterInput :global(.input) {
    @apply w-48;
}

.selectionFilters {
    @apply flex justify-between flex-wrap sm:flex-nowrap items-center gap-3;
}

.lastFilterWrapper {
    @apply w-full flex items-end gap-3;
}

.clearButton {
    @apply min-w-24 h-[42px] opacity-0 transition-opacity duration-200 ease-in-out pointer-events-none;
}

.clearButton.visible {
    @apply opacity-100 pointer-events-auto;
}

.customOptionContainer {
    @apply flex gap-1.5 items-center;
}

.icon {
    @apply size-5;
}

.selectOptionText {
    @apply truncate;
}
