@reference "../../../../app.css";

.root {
    @apply flex
        flex-col
        gap-6
        sm:max-w-80;
}

.tooltipWrapper {
    @apply absolute
        select-none
        flex
        flex-col
        items-center
        justify-center
        top-[100px]
        left-1.5
        w-[240px];
}

.chartWrapper {
    @apply flex
        items-center
        justify-center
        self-center
        mt-4
        w-[280px]
        h-[280px]
        rounded-full
        bg-zinc-100 dark:bg-zinc-900
        transition-colors
        duration-200
        ease-in-out;
}

.cell {
    @apply cursor-pointer
        outline-none
        hover:opacity-85
        stroke-white
        dark:stroke-zinc-900
        transition-all
        duration-200
        ease-in-out;
}

.cell.distributed {
    @apply fill-brand-green;
}

.cell.reimbursed {
    @apply fill-[#d1d5db] dark:fill-zinc-800;
}

.chartWrapperLoading {
    @apply animate-pulse dark:bg-zinc-700;
}

.chartContainer {
    @apply h-[240px] w-[240px];
}
