@reference "../../../../app.css";

.root {
    @apply flex
        flex-col
        gap-6
        sm:max-w-80;
}

.popover {
    @apply rounded-lg
        bg-white dark:bg-zinc-900
        border-zinc-200 dark:border-zinc-600;
}

.popoverContent {
    @apply flex
        flex-col
        gap-2
        p-2
        rounded-lg;
}

.header {
    @apply flex justify-between mb-3;
}

.headerTextWrapper {
    @apply flex items-center gap-1;
}

.legendDot {
    @apply h-3 w-3 rounded-full;
}

.legendDot.reimbursed {
    @apply bg-[#D1D5DB];
}

.legendDot.distributed {
    @apply bg-brand-green;
}

.tokenRow {
    @apply grid grid-cols-3 gap-3 items-center;
}

.tokenRow > :first-child {
    @apply justify-self-start;
}

.tokenRow > :nth-child(2) {
    @apply justify-self-center;
}

.tokenRow > :last-child {
    @apply justify-self-end;
}

.tokenWrapper {
    @apply flex items-center gap-2;
}

.chartWrapper {
    @apply flex
        items-center
        justify-center
        self-center
        mt-4
        w-[280px]
        h-[280px]
        rounded-full
        theme-bg
        transition-colors
        duration-200
        ease-in-out;
}

.chartWrapper.empty {
    @apply flex-col gap-2 bg-transparent mt-2;
}

.loading {
    @apply animate-pulse theme-bg;
}

.cell {
    @apply rounded-3xl cursor-pointer
        outline-none
        hover:opacity-85
        stroke-gray-100
        dark:stroke-zinc-950
        transition-all
        duration-200
        ease-in-out;
}

.cell.distributed {
    @apply fill-brand-green dark:fill-brand-green-dark;
}

.cell.reimbursed {
    @apply fill-[#d1d5db] dark:fill-zinc-700;
}

.chartWrapperLoading {
    @apply animate-pulse theme-bg;
}

.chartContainer {
    @apply h-[240px] w-[240px];
}
