@reference "../../../../app.css";

.preview {
    @apply flex gap-2 items-center;
}

.wrapper {
    @apply flex flex-col gap-1 p-4;
}

.kind {
    @apply w-full 
        rounded-2xl
        flex
        gap-6
        items-center
        p-3.5
        transition-colors
        duration-200
        ease-in-out
        hover:cursor-pointer
        surface-secondary
        surface-secondary-hover;
}

.active {
    @apply theme-surface-2-active;
}

.text {
    @apply flex flex-col gap-1;
}
