@reference "../../../../app.css";

.preview {
    @apply flex gap-2 items-center;
}

.wrapper {
    @apply flex flex-col gap-1 p-4;
}

.kind {
    @apply w-full 
        flex
        gap-6
        items-center
        p-3.5
        rounded-lg
        border
        border-gray-300
        dark:border-neutral-600
        transition-colors
        duration-200
        ease-in-out
        hover:cursor-pointer
        surface-primary-hover;
}

.active {
    @apply bg-gray-150 dark:bg-neutral-800;
}

.text {
    @apply flex flex-col gap-1;
}
