@reference "../../../app.css";

.root {
    @apply flex flex-col gap-4;
}

.titleWrapper {
    @apply flex gap-2 items-center;
}

.infoTooltip {
    @apply hidden sm:flex;
}

.detailsAccordion {
    @apply bg-gray-100 dark:bg-neutral-800;
}

.detailsAccordion :global(.preview) {
    @apply p-3 sm:p-5;
}

.wrapper {
    @apply w-full flex flex-col sm:flex-row gap-4 px-3 pb-3 sm:px-5 sm:pb-5;
}

.leftContentWrapper {
    @apply w-full flex-[1] flex flex-col justify-between gap-4;
}

.chart {
    @apply sm:min-h-[25rem] w-full flex-[2] flex flex-col items-stretch;
}

.chartWrapper {
    @apply w-full flex-1;
}

.distributionChartsWrapper {
    @apply flex flex-col sm:flex-row justify-between gap-4;
}

.distributionChartsWrapper > :first-child {
    @apply flex-[2];
}

.distributionChartsWrapper > :last-child {
    @apply flex-[1];
}
