@reference "../../../../app.css";

.root {
    @apply h-full
        flex
        flex-col
        gap-3;
}

.header {
    @apply w-full flex items-start justify-between min-h-7;
}

.leftContent {
    @apply flex items-baseline gap-1;
}

.rightContent {
    @apply hidden md:flex gap-1;
}

.skeletonChip :global(.skeleton) {
    @apply rounded-[2.813rem];
}

.rightContent.loading {
    @apply w-full flex justify-end;
}

.container {
    @apply h-full min-h-80;
}

.container.loading {
    @apply flex items-end gap-1;
}

.container.empty {
    @apply flex flex-col gap-2 justify-center items-center;
}

.loadingBar {
    @apply h-80 animate-pulse surface-secondary w-full max-w-10 rounded-t-md;
}

.reimbursedBar {
    @apply chart-area-secondary;
}

.distributedBar {
    @apply fill-brand-green-dark dark:fill-brand-green;
}

.timeTick {
    @apply font-sans
        uppercase
        text-xs
        leading-none
        font-medium
        fill-light-text-primary
        dark:fill-dark-text-primary
        transition-colors
        duration-200
        ease-in-out;
}
