@reference "../../app.css";

.root {
    @apply flex items-center flex-col gap-6 px-4 w-full max-w-screen-xl;
}

.description {
    @apply text-center;
}

.campaignCardsWrapper {
    @apply flex flex-wrap gap-2 justify-center;
}

.link {
    @apply w-full sm:w-fit;
}

.campaignLinkCard {
    @apply h-full
        max-w-[27rem]
        hover:bg-gray-150
        dark:hover:bg-neutral-800
        transition-colors
        duration-200
        ease-in-out;
}

.campaignCard {
    @apply max-w-[27rem]
        cursor-pointer
        hover:bg-gray-150
        dark:hover:bg-neutral-800
        transition-colors
        duration-200
        ease-in-out;
}

.campaignCardBody {
    @apply h-full flex flex-col sm:flex-row gap-4 items-center;
}

.iconWrapper {
    @apply flex
        items-center
        justify-center
        min-w-[5.75rem]
        min-h-[5.75rem]
        p-3
        rounded-2xl
        bg-gray-200
        dark:bg-neutral-950;
}

.rightContent {
    @apply flex flex-col gap-2 items-center sm:items-start;
}

.ammIcon {
    @apply h-10 w-10 text-black dark:text-white;
}

.liquidityV2Icon {
    @apply h-14 w-14 dark:stroke-neutral-900;
}

.aaveIcon {
    @apply h-10 w-10;
}

.partnerActionsIcon {
    @apply h-10 w-10;
}
