@reference "../../app.css";

.root {
    @apply flex items-center flex-col gap-6 px-4 w-full;
}

.description {
    @apply text-center max-w-2xl;
}

.campaignCardsWrapper {
    @apply flex flex-wrap gap-2 max-w-4xl;
}

.campaignLinkCard {
    @apply h-full
        max-w-[27rem]
        theme-surface-hover
        transition-colors
        duration-200
        ease-in-out;
}

.campaignCard {
    @apply max-w-[27rem]
        theme-surface-hover
        cursor-pointer
        transition-colors
        duration-200
        ease-in-out;
}

.campaignCardBody {
    @apply h-full flex flex-col sm:flex-row gap-4 items-center sm:items-start;
}

.iconWrapper {
    @apply flex
        items-center
        justify-center
        min-w-[5.75rem]
        min-h-[5.75rem]
        p-3
        rounded-2xl
        theme-surface-2
        dark:bg-zinc-800;
}

.rightContent {
    @apply flex flex-col gap-2 items-center sm:items-start;
}

.ammIcon {
    @apply h-10 w-10 text-black dark:text-white;
}

.liquidityV2Icon {
    @apply h-14 w-14 dark:stroke-zinc-900;
}

.aaveIcon {
    @apply h-10 w-10;
}

.partnerActionsIcon {
    @apply h-10 w-10;
}
