@reference "../../app.css";

.root {
    @apply flex flex-col gap-7 px-4 sm:px-0 w-full max-w-screen-xl;
}

.header {
    @apply flex flex-col gap-1;
}

.cardsWrapper {
    @apply flex flex-wrap gap-2;
}

.rightContent {
    @apply flex flex-col gap-1 items-center sm:items-start;
}

.tags {
    @apply absolute top-0 right-0 w-fit flex;
}

.tag {
    @apply py-1 px-3 backdrop-blur-sm bg-gray-300 dark:bg-neutral-700;
}

.tag:first-child {
    @apply rounded-bl-xl;
}

.partnerActionsIcon {
    @apply h-10 w-10;
}

.liquidityV2Icon > path:first-child {
    @apply dark:stroke-gray-150 dark:fill-gray-150;
}

.liquidityV2Icon > path:not(:first-child) {
    @apply dark:stroke-[#111827] dark:fill-[#111827];
}
