@reference "../../../../app.css";

.root {
    @apply w-full flex items-center gap-3;
}

.poolContainer {
    @apply w-full flex items-center gap-2;
}

.titleContainer {
    @apply sm:w-fit w-full max-w-48 sm:max-w-full flex items-center gap-1.5;
}

.titleContainerLoading {
    @apply w-full;
}

.campaignFee {
    @apply hidden sm:flex;
}

.chip {
    @apply bg-zinc-100 dark:bg-zinc-700 rounded-lg ml-2 py-1 px-1.5 w-fit;
}
