@reference "../../../../app.css";

.root {
    @apply flex items-center gap-3;
}

.root.loading {
    @apply w-full;
}

.titleContainer {
    @apply w-fit max-w-full flex items-center gap-3;
}

.titleContainer.loading {
    @apply w-full;
}

.tags {
    @apply flex gap-1.5;
}

.yieldSeekerBoostTag {
    @apply w-fit rounded-sm p-[1px];
    background: linear-gradient(90deg, #53fdac, #4ffc82, #49fb43);
}

.yieldSeekerBoostTag > div {
    @apply surface-primary;
}
