@reference "../../../../app.css";

.root {
    @apply flex items-center gap-3;
}

.root.loading {
    @apply w-full;
}

.titleContainer {
    @apply w-fit max-w-full flex items-center gap-3;
}

.titleContainer.loading {
    @apply w-full;
}

.chipsWrapper {
    @apply flex gap-1.5;
}

.chip {
    @apply bg-gray-200 dark:bg-neutral-700 rounded-sm py-1 px-1.5 w-fit;
}
