@reference "../../app.css";

.root {
    @apply flex items-center justify-between col-span-1;
}

.loading {
    @apply w-full;
}

.rewardsWrapper {
    @apply w-full flex items-center gap-2 pointer-events-none sm:pointer-events-auto cursor-pointer;
}

.tokenIcons {
    @apply min-h-full flex items-center gap-[1px];
}

.tokenIcon {
    @apply cursor-pointer;
}

.tokenIcon:not(:first-child) {
    @apply -ml-3;
}

.breakdownContainer {
    @apply flex flex-col gap-3;
}

.header {
    @apply flex justify-between gap-7 items-center px-2;
}

.xl2 {
    @apply text-[1.75rem];
}

.textRewards {
    @apply text-base min-w-[50px];
}
