@reference "../../app.css";

.root {
    @apply h-full
        flex
        items-center
        justify-center
        text-center;
}

.container {
    @apply h-full min-h-[270px];
}

.emptyContainer {
    @apply w-full
        h-full
        px-3
        min-h-[270px]
        flex
        flex-col
        gap-2
        justify-center
        items-center
        rounded-2xl
        transition-colors
        duration-200
        ease-in-out;
}

.errorText {
    @apply flex-col;
}

.loadingContainer {
    @apply w-full
        h-full
        md:max-h-full
        min-h-[270px]
        flex
        flex-col
        gap-2
        justify-end
        items-end;
}

.skeletonArea {
    @apply w-full
        h-full
        flex
        items-end
        justify-around
        bg-[linear-gradient(to_bottom_right,_transparent_0%,_transparent_50%,#e4e4e7_50%,#e4e4e7_100%)]
        dark:bg-[linear-gradient(to_bottom_right,_transparent_0%,_transparent_50%,#3f3f46_50%,#3f3f46_100%)]
        animate-pulse;
}

.skeletonReferenceLine {
    @apply h-full w-[1px] border-gray-900 dark:border-neutral-400 border border-dashed;
}

.skeletonXAxis {
    @apply w-full flex justify-around;
}

.skeletonRectangle {
    @apply h-[250px];
}

.loading {
    @apply animate-pulse bg-gray-200 dark:bg-neutral-700;
}

.axisLabel {
    @apply font-sans
        uppercase
        text-xs
        leading-none
        font-medium
        fill-gray-900
        dark:fill-neutral-400
        transition-colors
        duration-200
        ease-in-out;
}

.aprLine path {
    @apply stroke-carrot-orange stroke-2;
}

.notDistributingArea path {
    @apply fill-gray-300 dark:fill-neutral-700;
}

.distributingArea path {
    @apply fill-brand-green-dark dark:fill-brand-green;
}

.xAxis > line {
    @apply stroke-1 stroke-gray-300 dark:stroke-neutral-600 transition-colors duration-200 ease-in-out;
}

.referenceLine line {
    @apply stroke-2
        stroke-gray-900
        dark:stroke-neutral-400
        font-sans
        uppercase
        text-xs
        leading-none
        font-medium
        transition-colors
        duration-200
        ease-in-out;
}

.referenceLine.green line {
    @apply stroke-brand-green-dark dark:stroke-brand-green;
}

.referenceDot circle {
    @apply fill-brand-green-dark dark:fill-brand-green stroke-gray-100 dark:stroke-neutral-800;
}
