.root {
    @apply h-full
        flex
        items-center
        justify-center
        text-center
        p-4
        rounded-2xl;
}

.container {
    @apply h-full min-h-[270px];
}

.emptyContainer {
    @apply w-full
        h-full
        px-3
        min-h-[270px]
        flex
        justify-center
        items-center
        bg-white
        rounded-2xl;
}

.errorText {
    @apply flex-col;
}

.loading {
    @apply animate-pulse;
}

.axisLabel {
    @apply font-sans
        uppercase
        text-xs
        leading-none
        font-medium
        fill-black;
}
