@reference "../../app.css";

.networkWrapper {
    @apply bg-white dark:bg-zinc-800
        w-10
        h-10
        rounded-md
        flex
        gap-3
        items-center
        justify-center
        cursor-pointer
        surface-primary-hover
        transition-colors
        duration-200
        ease-in-out;
}

.overlay {
    @apply z-30
        flex
        sm:hidden
        fixed
        top-0
        bottom-0
        left-0
        right-0
        bg-light-overlay dark:bg-dark-overlay;
}

.active {
    @apply bg-zinc-200 dark:bg-zinc-700;
}

.wrong {
    @apply bg-red-300 dark:bg-red-600;
}

.icon {
    @apply w-5 h-5 transition-none text-black dark:text-zinc-200;
}
