@reference "../../theme.css";

.root {
    @apply w-fit
        flex
        gap-3
        p-3
        border-2
        rounded-md
        border-gray-300
        dark:border-neutral-600;
}

.divider {
    @apply w-[1px] border stroke-divider;
}

.timeWrapper {
    @apply flex flex-col;
}

.header {
    @apply flex justify-around select-none;
}

.wheelsWrapper {
    @apply flex gap-1 h-full mt-4;
}

.cellList {
    @apply relative
        h-[14rem]
        overflow-y-auto
        overflow-x-hidden
        scroll-pt-0.5
        snap-y;
}

.noScrollbar {
    @apply [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none];
}

.cell {
    @apply size-8
        snap-start
        select-none
        cursor-pointer
        flex
        justify-center
        items-center
        border
        border-transparent
        rounded-lg
        transition-colors
        duration-200
        ease-in-out;
}

.cellDisabled {
    @apply cursor-not-allowed text-tertiary;
}

.cellSelected {
    @apply bg-brand-green-dark/[16%] dark:bg-brand-green/[20%] border-brand-green-dark dark:border-brand-green;
}

.cellSelectable {
    @apply text-primary;
}
