.root {
    @apply w-full
        flex
        justify-between
        bg-white
        rounded-md;
}

.divider {
    @apply w-[1px] ml-2 bg-gray-200;
}

.timeWrapper {
    @apply flex flex-col gap-2;
}

.header {
    @apply flex justify-around select-none;
}

.wheelsWrapper {
    @apply flex h-full;
}

.cellList {
    @apply relative
        h-[268px]
        overflow-y-auto
        overflow-x-hidden
        scroll-pt-0.5
        px-1
        snap-y;
}

.noScrollbar {
    @apply [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none];
}

.cell {
    @apply w-9
        h-9
        snap-start
        select-none
        cursor-pointer
        flex
        justify-center
        items-center
        rounded-md
        transition-colors
        duration-200
        ease-in-out
        hover:bg-gray-200;
}

.cellDisabled {
    @apply cursor-not-allowed
        hover:bg-transparent
        text-gray-300;
}

.cellSelected {
    @apply bg-gray-200 !text-black;
}

.cellSelectable {
    @apply text-gray-400;
}
