@reference "../../../../app.css";

.modal {
    @apply h-auto
        w-full
        max-w-[28.125rem]
        flex
        flex-col
        items-center
        gap-6
        rounded-3xl
        border
        surface-primary
        border-gray-300
        dark:border-neutral-700
        overflow-hidden;
}

.xIcon {
    @apply cursor-pointer size-4 place-self-end;
}

.header {
    @apply w-full flex flex-col px-5 pt-5 items-center;
}

.content {
    @apply w-full flex flex-col gap-6 px-10 pb-10;
}

.title {
    @apply flex flex-col items-end;
}

.bonusBox {
    @apply w-full
        rounded-lg
        border-dashed
        flex
        flex-col
        items-center
        gap-2
        p-4
        border-2
        bg-[#0EA40014]
        dark:bg-[#88FC8E14]
        border-[#0EA40047]
        dark:border-[#88FC8E5C];
}

.bonusCodeWrapper {
    @apply flex items-center gap-1;
}

.bonusCode {
    @apply cursor-pointer;
}

.greenText {
    @apply text-brand-green-dark dark:text-[#88FC8E];
}

.howToContainer {
    @apply w-full flex flex-col gap-3;
}

.list {
    @apply w-full flex flex-col gap-2;
}

.link {
    @apply flex text-sm font-medium;
}

.step {
    @apply flex gap-2 items-center;
}

.stepLinkWrapper {
    @apply flex items-center gap-1;
}

.brandGreenText {
    @apply text-brand-green-dark dark:text-brand-green font-semibold;
}

.button {
    @apply w-full;
}

.description {
    @apply text-center;
}

.externalLinkIcon {
    @apply size-4 transform -rotate-45;
}
