@reference "../../../../app.css";

.root {
    @apply w-full sm:w-auto;
}

.card {
    @apply relative
        overflow-hidden
        h-14
        min-w-[21.8rem]
        flex
        gap-2
        items-center
        rounded-2xl
        px-2
        hover:opacity-80
        transition-opacity
        duration-200
        ease-in-out
        surface-primary;
}

.card > :not(:first-child) {
    @apply z-10;
}

.illustration {
    @apply absolute z-0 text-white opacity-50 right-0 -bottom-5;
}

.iconWrapper {
    @apply flex items-center justify-center rounded-md h-8 w-8 p-[3px];
}

.icon {
    @apply w-6 h-6;
}

.title {
    @apply text-black;
}
