@reference "../../../../app.css";

.stepContent {
    @apply flex flex-col gap-3 p-4;
}

.flipPriceWrapper {
    @apply flex justify-end items-center gap-1;
}

.priceTabs {
    @apply w-fit self-end;
}

.previewLabelWrapper {
    @apply w-full flex justify-between items-center;
}

.previewTextWrapper {
    @apply flex items-center gap-2;
}

.previewLabel {
    font-size: inherit;
    color: inherit;
}

.priceWrapper {
    @apply w-full flex gap-1;
}

.liquidityDensityChart :global(.emptyContainer) {
    @apply min-h-[352px];
}

.applyButton {
    @apply w-full;
}
