.root {
    @apply flex
        flex-col
        gap-4;
}

.table {
    @apply flex
        flex-col
        gap-4
        p-4
        bg-white
        rounded-2xl;
}

.header {
    @apply flex justify-between items-center;
}

.nameContainer {
    @apply flex w-full max-w-36 gap-1.5 items-center;
}

.row {
    @apply grid items-center grid-cols-3;
}

.row :nth-child(2) {
    @apply justify-self-center;
}

.row :last-child {
    @apply justify-self-end;
}

.summary {
    @apply flex flex-wrap sm:flex-nowrap justify-between gap-4;
}

.feeText {
    @apply flex items-baseline gap-2;
}
