@reference "../../../../app.css";

.content {
    @apply flex flex-col gap-3;
}

.header {
    @apply flex justify-between px-2;
}

.rows {
    @apply flex flex-col gap-2;
}

.row {
    @apply flex items-center gap-6 justify-between;
}

.row > div {
    @apply flex items-center gap-2;
}

.mainText {
    @apply text-[1.75rem] cursor-pointer;
}

.positive {
    @apply text-brand-green-dark dark:text-brand-green;
}

.negative {
    @apply text-error;
}
