@reference "../../../../../app.css";

.root {
    @apply flex
        flex-col
        pt-4
        w-full
        overflow-hidden;
}

.listHeader {
    @apply flex
        justify-between
        items-center
        px-4
        mb-1;
}

.empty {
    @apply flex justify-center pt-4;
}
