@reference "../../app.css";

.root {
    @apply relative
        max-w-screen-xl
        w-full
        min-h-[45rem]
        surface-primary
        rounded-xl
        overflow-x-scroll
        sm:overflow-x-auto;
}

.loadingBar {
    @apply px-3 rounded-bl-xl rounded-br-xl absolute overflow-x-hidden;
}

.loadingBar :global(.progress) {
    @apply rounded-bl-xl rounded-br-xl;
}

.list {
    @apply min-w-[80rem] grid grid-cols-4 grid-rows-4 gap-5 px-5 pb-5 pt-4;
}

.list.empty {
    @apply h-full;
}

.empty {
    @apply h-full
        w-full
        col-span-full
        row-span-full
        flex
        flex-col
        items-center
        justify-center
        gap-3;
}

.textWrapper {
    @apply flex flex-col items-center;
}
