name: CI
on:
  push:
    branches:
      - staging
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - develop
      - main
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v3
        with:
          version: latest
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Run linter
        run: pnpm lint
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v3
        with:
          version: latest
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm test

